<app-support-popup></app-support-popup>

<div class="back mt-5 pt-5 pb-5" style="min-height: 85%;">

       <div class="row">
        <div class="col-md-2">
            <div class="wrapper d-flex">
                <div class="sidebar">
                    <ul class="pr-2">
                        <li (click)="displayUserData()" [ngStyle]="{'background': userDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Users</a>
                        </li>
                        <li (click)="displayRegistrationData()" [ngStyle]="{'background': registrationDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Registrations</a>
                        </li>
                        <li (click)="partnersSponsors()" [ngStyle]="{'background': partnersDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Partners And Sponsers</a>
                        </li>
                        <li (click)="testimonials()" [ngStyle]="{'background': testimonialsDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Testimonials</a>
                        </li>
                        <li (click)="newsroom()" [ngStyle]="{'background': newsroomDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Media Coverage</a>
                        </li>
                        <li (click)="gallery()" [ngStyle]="{'background': galleryDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Gallery</a>
                        </li>
                        <li (click)="ecommerce()" [ngStyle]="{'background': ecommerceDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >E-commerce</a>
                        </li>
                        <li (click)="orders()" [ngStyle]="{'background': ordersDataComponent ? '#ef3789' : '#4F94CF' }">
                            <a class="" >Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
    <h1 class="text-center pt-3">Admin Dashboard</h1>

            <app-users-dashboard *ngIf="userDataComponent"></app-users-dashboard>
            <app-registration-dashboard *ngIf="registrationDataComponent"></app-registration-dashboard>
            <app-sponsors-partners *ngIf="partnersDataComponent"></app-sponsors-partners>
            <app-newsroom-dashboard *ngIf="newsroomDataComponent"></app-newsroom-dashboard>
            <app-ecommerce-dashboard *ngIf="ecommerceDataComponent"></app-ecommerce-dashboard>
            <app-gallery-dashboard *ngIf="galleryDataComponent"></app-gallery-dashboard>
            <app-testimonials-dashboard *ngIf="testimonialsDataComponent"></app-testimonials-dashboard>
            <app-orders *ngIf="ordersDataComponent"></app-orders>
        </div>
    </div>

</div>