<div class="back pt-3 pb-5">
    <h1 class="text-center pt-3">Gallery</h1>
    <div class="container">
        <div class="text-center">
            <!--  -->
            <button type="button" class="btn btn-primary gcpabutton mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new Photo</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form class="text center">
											<input class="form-control bg-light" type="file" accept="image/*" multiple (change)="photoUpload($event)">
											<ng-container *ngIf="uploadService.fileUploadStatus && photoStatus">
                                                <div class="progress" style="height: 10px; margin-top: 10px;">
                                                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': progressPhoto + '%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                Uploading {{fileName}} ...
                                            </ng-container>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary gcpabutton" (click)="submit()">Save changes</button>
									</div>
								</div>
							</div>
						</div>
            <!--  -->
        </div>
        <div class="container mt-3 py-3 px-2">
            <div class="row text-center text-nowrap">
                <ng-container *ngFor="let photo of galleryService.gallery">
                    <a [href]="photo.ImageUrl" (mouseenter)="photo.Hovering=true" (mouseleave)="photo.Hovering=false">
                        <img [src]="photo.ImageUrl" width="200" height="200" src="../../../assets/gallery/" [ngClass]="{'img-fluid rounded':true,'darken shadow':photo.Hovering}" alt="">
                    </a>
                    <div class="col-4 p-3">
                        <button type="button" id="deleteBtn" class="btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete photo</button>
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="text center">
                                            Are you sure you want to delete this Image?!
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" style="border-radius:10%;" class="btn-primary" data-bs-dismiss="modal">Close</button>
                                    <button type="button"  style="border-radius:10%;" class="btn-danger" (click)="deletePhoto(photo.Uid)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>