<div class="back mt-5 pt-5 pb-5" style="min-height: 52rem;">
    <h1 class="text-center pt-3">My Applications</h1>
    
    <ng-container *ngIf="!showLoader; else loader" >

        <ng-container *ngIf="!noData;else noRegistrations">
            <div class="container">
                <app-data-table [dataForTable]="registrationsData" [displayColoumns]="displayColoumns" [pageSize]="'5'"> </app-data-table>
            </div>
        </ng-container>

        <ng-template #noRegistrations>
            <div class="text-center pt-5">
                You have no Registrations to Display. Please Register.
            </div>
        </ng-template>

    </ng-container>
    
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>

