<div class="item">

    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/ACHYUTASAMANTHA.png" alt="A.R Rahman" class="img-fluid">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>Dr.Achyuta Samanta</h6>
            <span class="testheadi">Member of Parliament India & Founder of KIIT & KISS</span>
            <p class="pt-3"> “Proud to be associated with the first ever Global Child Prodigy Awards, a global initiative to provide child prodigies the stage they deserve”. </p>
        </div>
    </div>


</div>