<div class="item">
    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/Dr-Azad-Moopen.png" alt="Azad Moopen" class="img-fluid">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>Dr. Azad Moopen</h6>
            <span class="testheadi">Chairman and Managing Director, Aster Dm Healthcare</span>
            <p class="pt-1"> “I am extremely happy to be a part of this noble initiative this year and I express my gratitude to the organisers for creating this incredible global platform for recognising young and budding talent from a diverse set ...”</p>
        </div>
    </div>
</div>