#chatButton {
    background: #5095cf!important;
    display: block;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 3px 45px #5C60EC4F;
    position: fixed;
    bottom: 80px;
    right: 40px;
    border: none !important;
}

.card {
    position: fixed;
    bottom: 70px;
    right: 30px;
    color: var(--text);
}

.card-body {
    padding: 0.75rem 0.25rem !important;
}