<div class="container mx-auto">

    <div class=" banner-section container" id="banner" >
        <div >
            <div class="row">
                
                <div class="col-sm-8 col-md-8 mx-auto ">
                    <div class="banner-content text-center">
                        <div class="banner-tagline ">
                            <h1 class="bannerhead"><b>Is your child a prodigy ?</b></h1>
                            <hr class="hrstyle mx-auto">
                            <p>Global Child Prodigy Awards is a Global Initiative to Provide Child<br> Prodigies The stage they deserve.</p>
                            <p class="registeration">Apply for the GCP Awards 2023 - 2024</p>
                            <div>
                                <a routerLink="/contact"> <button class=" btn btn-apply">Apply Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>
       </div>
    </div>
</div>
</div>