
<nav class="navbar navbar-expand-md navbar-light bg-white  fixed-top" >
    <div class="container px-auto">
        <a routerLink="" class="navbar-brand"><img src="../../assets/GCPA_WEBSITE_LOGO-111.jpg" width="200" ></a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/about" class="nav-item nav-link  mx-1">About</a>
                <a routerLink="/how-it-works" class="nav-item nav-link mx-1">How it works?</a>
                <a routerLink="/partners" class="nav-item nav-link mx-1">Partners</a>
                <a routerLink="/testimonial" class="nav-item nav-link mx-1">Testimonials</a>
                <a routerLink="/newsroom" class="nav-item nav-link mx-1">Newsroom</a>
                <a routerLink="/gallery" class="nav-item nav-link mx-1">Gallery</a>
                <a href="https://gcpawards.com/blog/"  class="nav-item nav-link mx-1">Blog</a>
                <a routerLink="/contact" class="nav-item nav-link mx-1">Contact Us</a>
            </div >
        </div>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link ">
                <button type="submit" class="btn btn-outline-dark ms-5 ">Enquire Now</button>
            </a>
            <a class="nav-item nav-link ">
                <button type="submit" class="btn btn-outline-dark ms-5 " (click)="loadLoginPage()">Login/Signup</button>
            </a>
        </div>
    </div>  
  </nav>