<nav class="navbar navbar-expand-lg navbar-light bg-white  fixed-top">
    <div class="container px-auto">
        <a routerLink="" class="navbar-brand"><img src="../../assets/GCPA_WEBSITE_LOGO-111.jpg" width="200"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse pt-1" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/about" class="nav-item nav-link  mx-1">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/partners" class="nav-item nav-link mx-1">Partners</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/testimonial" class="nav-item nav-link mx-1">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/how-it-works" class="nav-item nav-link mx-1" style="width: max-content;">How it works?</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/newsroom" class="nav-item nav-link mx-1">Newsroom</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/gallery" class="nav-item nav-link mx-1">Gallery</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/blog" class="nav-item nav-link mx-1">Blog</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-item nav-link mx-1 pe-5">Contact Us</a>
                </li>
                <li>
                    <a class="nav-item nav-link ">
                        <button type="submit" class="btn btn-outline-dark " (click)="loadRegistration()">Resgister</button>
                    </a>  
                </li>
                <li *ngIf="useEmulator">
                    <a class="nav-item nav-link " >
                        <button type="submit" class="btn btn-outline-dark" (click)="setRawData()">Raw Data</button>
                    </a> 
                </li>
                <li>
                    <a class="nav-item nav-link " *ngIf="!loggedIn">
                        <button type="button" class="btn btn-outline-dark" (click)="loadLoginPage()" >Login/Signup</button>
                    </a>
                </li>
                <!-- <li>
                    <ng-container *ngIf="loggedIn">
                        <a class="nav-item nav-link " *ngIf="authService.loggedInUser.Admin">
                            <button type="submit" class="btn btn-outline-dark" (click)="loadDashboardPage()">Dashboard</button>
                        </a>
                    </ng-container>
                </li> -->
            </ul>
        </div>
         <!-- <a class="nav-item nav-link text-end" *ngIf="loggedIn">
                <button class="btn  btn-outline-dark rounded-circle"><i class="fa-solid fa-user"></i></button>
            </a> -->
        <div class="nav-item" *ngIf="loggedIn">
            <app-user-card></app-user-card>
        </div>
        
    </div>
</nav>

<app-login-page></app-login-page>