<div class="container p-5 mt-5">

    <div class="col-md-12 text-center section-padding">
        <h1>Categories</h1>
        <p class="mainp">Are you an expert? Which category describes you the best?</p>
       
        <div class="row content-padding">
            <ng-container *ngFor="let con of content" >
                <div [ngClass]="{'col-md-3 my-5 mx-auto':true}" (mouseenter)="con.hovering=true" (mouseleave)="con.hovering=false">
                    <div id="box" [ngClass]="{'content text-center py-3 shadow':true,'bg-dark':con.hovering}">
                        <div [ngClass]="{'show':!con.hovering, 'notshow':con.hovering,'initial container-fluid':true}" >
                            <img [src]="con.src" alt="acting" width="200">
                            <p class="catp" [innerText]="con.head"></p>
                        </div>
                        
                        <div [ngClass]="{'show':con.hovering, 'notshow':!con.hovering,'bg-dark mt-3 mb-1 text-light container-fluid':true}">
                            <span class="text-center" [innerText]="con.head"></span>
                            <p class="cat" [innerText]="con.para"></p>
                        </div>
                        
                    </div>
                </div>
            </ng-container>
        </div>
            