<footer class="footer footer-padding mt-0 " >
    <div class="container ">
        <div class="row text-center">
            <div class="col-md-6 text-center">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item px-2 border-white"><a href="#" style="font-size: 14px;;"><span style="color:#8a8686d9;">FAQ</span></a></li>
                    <li class="list-group-item px-2 border-white"><a href="#" style="font-size: 14px;"><span style="color:#8a8686d9;">Nominate</span></a></li>
                    <li class="list-group-item px-2 border-white"><a routerLink="terms_condi" style="font-size: 14px;"><span style="color:#8a8686d9;">Terms &amp; Conditions
                   </span></a>
                    </li>
                    <li class="list-group-item px-2 border-white"><a href="#" style="font-size: 14px;"><span style="color:#8a8686d9;">Privacy policy</span></a></li>
                    <li class="list-group-item px-2 border-white"><a href="https://bit.ly/GCPA_SELECTION_CRITERIA" target="_blank" style="font-size: 14px;"><span style="color:#8a8686d9;">Selection Criteria</span></a></li>
                </ul>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item border-white">
                        <p style="font-size: 14px;color:#8a8686d9;">© 2022 All Rights Reserved.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item px-2 border-white mx-1"><a href=" https://www.facebook.com/GCPAwards/" style="font-size: 14px;"><i class="fa fa-facebook" aria-hidden="true" style="color:#8a8686d9;"></i></a></li>
                    <li class="list-group-item px-2 border-white mx-1"><a href="https://twitter.com/gcpawards?lang=en" style="font-size: 14px;"><i class="fa fa-twitter" aria-hidden="true" style="color:#8a8686d9;"></i></a></li>
                    <li class="list-group-item px-2 border-white mx-1"><a href="https://www.linkedin.com/company/global-child-prodigy-awards" style="font-size: 14px;"><i class="fa fa-linkedin" aria-hidden="true" style="color:#8a8686d9;"></i></a></li>
                    <li class="list-group-item px-2 border-white mx-1"><a href="https://instagram.com/gcpawards?igshid=ijtgx9j2a0hy" style="font-size: 14px;"><i class="fa fa-instagram" aria-hidden="true" style="color:#8a8686d9;"></i></a></li>
                    <li class="list-group-item px-2 border-white mx-1"><a href="https://www.youtube.com/playlist?list=PLOVins3mQNIhj1QyO4sSv3dvuklZS5jus" style="font-size: 14px;"><i class="fa fa-youtube-play" aria-hidden="true" style="color:#8a8686d9;"></i></a></li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</footer>