footer {
    bottom: 0 !important ;
    left: 0;
    padding: 3px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #8a8686d9;
    width: 100%;
    z-index: 1;
}
.social_links li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
a{
    text-decoration: none;
}
@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
    footer{
        width:100%;
        padding:0;
        clear:both;
        bottom:0;
        position: absolute;
    }
}
@media (min-width: 768px)
{
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px)
{
    .container {
    max-width: 960px;
}
}
@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
}
    footer{
        position: fixed;
    }
}
