footer {
    padding: 8px;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #8a8686d9;
    width: 100%;
}
.footer-padding {
    margin-top: 50px;
    
}
.social_links li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
a{
    text-decoration: none;
}
@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px)
{
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px)
{
    .container {
    max-width: 960px;
}
}
@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
}
}
