h1 {
    color: #ef3789!important;
    font-size: 44px!important;
    font-weight: 700!important;
    font-family: 'Amaranth', sans-serif!important;
}

ol{
    padding-left: 1rem !important;
}

.hide {
    display: none;
  }
      
  .myDiv:hover + .hide {
    display: block;
  }
@media (min-width: 576px) {
    .container {
        max-width: 570px;
    }
    
}

@media (min-width: 768px) {
    .container {
        max-width: 760px;
    }
   
}

@media (min-width: 992px) {
    .container {
        max-width: 990px;
    }
    .back {
        background-image: url("../../../assets/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
    .back {
        background-image: url("../../../assets/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

