<div class="item">
    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/jamesHeckman.jfif" alt="A.R Rahman" class="img-fluid">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>Dr. James Heckman</h6>
            <span class="testheadi">Nobel Prize in Economics</span>
            <p class="pt-1"> “I'm very pleased to be able to congratulate the winners of the prize and the prodigies to assemble together to this event , outstanding contribution and I think very important for you to built those contribution ...”</p>
        </div>
    </div>


</div>