<div class="mb-5">
    <h4><span><div class="badge bg-primary text-wrap"> 1</div></span> Personal Details</h4>
    <div class="pb-4">
        <h4 class="fw-bold">Child's Name <span class="text-danger">*</span></h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ">
                        <input type="text" class="form-control bg-light" placeholder="Prefix" [(ngModel)]="prefix" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control bg-light" placeholder="First Name" [(ngModel)]="firstName" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control bg-light" placeholder="Last Name" [(ngModel)]="lastName" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-4">
        <h4 class="fw-bold">Guardian's Name </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" placeholder="First Name" [(ngModel)]="gaurdFirst">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" placeholder="Last Name" [(ngModel)]="gaurdLast">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4 class="fw-bold">Date of Birth<span class="text-danger">*</span></h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ">
                        <input type="date" class=" form-control bg-light" [(ngModel)]="dob">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>