<div class="mb-5">
    <h5 class="fw-bold"><span><div class="badge bg-primary text-wrap"> 1</div></span> Personal Details</h5>
    <div class="pb-4">
        <h5 class="">Child's Name <span class="text-danger">*</span></h5>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="prefix">
                            <option selected>Prefix</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                    <input type="text" class="form-control " placeholder="First Name" [(ngModel)]="firstName" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control " placeholder="Last Name" [(ngModel)]="lastName" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-4">
        <h5 class="">Guardian's Name </h5>
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <input type="text" class="form-control " placeholder="First Name" [(ngModel)]="gaurdFirst">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control " placeholder="Last Name" [(ngModel)]="gaurdLast">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 class="">Date of Birth<span class="text-danger">*</span></h5>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ">
                        <input type="date" class=" form-control " [(ngModel)]="dob">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>