<div class="item" style="width: fit-content;">
    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/hignessNahyan.jpeg" alt="A.R Rahman">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>His Highness Sheikh Nahayan Mabarak Al Nahayan</h6>
            <span class="testheadi">Minister of Tolerance and Coexistence,  Government of the United Arab Emirates</span>
            <p class="pt-1"> “I am delighted to have the opportunity to meet and greet such an inspiring group of young prodigies who come from all parts of the world. The Global ...”</p>
        </div>
    </div>
</div>