<div class="back mt-5 pt-5 pb-5" style="min-height: 52rem;">
	<h1 class="text-center py-3">Registration Details</h1>
	<div class="container pb-4">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<a [href]="registerService.registration.Photo"><img
										onerror="this.src='../../../../assets/defaultavatar.jpg'"
										[src]="registerService.registration.Photo" class="rounded-circle p-1"
										style="background-color: #5095cf;" width="110"></a>
								<div class="mt-3">
									<h4>{{registerService.registration.FirstName}}
										{{registerService.registration.LastName}}</h4>
									
										<p class="text-secondary mb-1"><b>ID:</b>
											{{registerService.registration.Uid}}</p>	<p class="text-secondary mb-1"><b>Category:</b>
										{{registerService.registration.Category}}</p>
									<p class="text-muted font-size-sm"><b>{{registerService.registration.Country}}</b></p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-12 pt-3">
						<div class="card">
							<div class="card-body text-center">
								<h4>Uploaded Files</h4>
								<div class="row">
									<ng-container *ngFor="let file of this.extraFilesService.extraFiles">
										<p *ngIf="file.File=='Profile'"> <a [href]="file.FileUrl" target="_blank"
												[download]="file.File">Document/PDF </a> uploaded on {{file.Date}}
										</p>
										<p *ngIf="file.File=='ExtraDoc'"> <a download
												[href]="file.FileUrl">Document/PDF </a> uploaded on {{file.Date}}
										</p>
										<p *ngIf="file.File=='ExtraPhoto'"><a [href]="file.FileUrl" target="_blank"
												[download]="file.File">Image </a> uploaded on {{file.Date}}</p>
										<p *ngIf="file.File=='ExtraVideo'"><a [href]="file.FileUrl" target="_blank"
												>Video Link</a> uploaded on {{file.Date}}</p>

									</ng-container>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Gaurdian's Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.GaurdFirst + ' '+this.registerService.registration.GaurdLast"
										disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Gaurdian's Occupation / Designation</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.GaurdianDesignation"
										[disabled]="registerService.disableGaurdianFields" />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Organization</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.GaurdianOrganization"
										[disabled]="registerService.disableGaurdianFields" />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Organization Type</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<select [disabled]="registerService.disableGaurdianFields" class="form-select" aria-label="Default select example" [(ngModel)]="registerService.registration.GaurdianOrganizationType">
										<option value="Government">Government</option>
										<option value="Private">Private</option>
										<option value="NGO">NGO</option>
										<option value="Others">Others</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-2">
						<div class="card-body">
							
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Date of Birth</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Dob" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Gaurdian's Relationship</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Relationship" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Gender</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Gender" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">State</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.State" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Address</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Address" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Postal/Zip Code</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Zip" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Phone Number</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Number" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Email" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">School/Academy</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.School" disabled />
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Achievement</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<textarea type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Achievement" rows="4"
										disabled></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0 pt-2">Social Media</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<textarea type="text" class="form-control"
										[(ngModel)]="this.registerService.registration.Social" rows="4"
										disabled></textarea>
								</div>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>
	<!-- <button class="btn" data-bs-toggle="modal" data-bs-target="#Modal"> -->
		<!-- add -->
		<!-- <mat-icon fontSet="material-icons-outlined" class="align-middle">
			post_add
		</mat-icon> -->
	<!-- </button> -->
</div>




        <div class="text-center">

            <button class="btn btn-primary btn-center" (click)="loadeditRegistration()">Edit Registration</button>
        </div>