<div class="pt-5">
    <h5 class="fw-bold"><span><div class="badge bg-primary text-wrap">3</div></span> Category and Upload </h5>
    <div class="pb-4">
        <h5 class="">Category Selection<span class="text-danger">*</span></h5>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <ng-select
                        [items]="categories_list"
                        bindLabel="name"
                        placeholder="Select Category"
                        appendTo="body"
                        [multiple]="true"
                        [(ngModel)]="category" [maxSelectedItems]="2"
                        [ngModelOptions]="{standalone: true}">
                    </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="">
                            Achievement Description
                        </h5>
                        <textarea class="form-control " rows="3" placeholder=" Please provide child's major achievements here and upload a detailed document in the child Profile Section (PDF/DOC/TXT) " [(ngModel)]="achievement"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="row pb-4">
                    <div class="col-md-6">
                        <h5 class="">Child's Photograph (Optional)</h5>
                        <input type="file" class="form-control " (change)="photoUpload($event)">
                        <ng-container *ngIf="uploadService.fileUploadStatus && photoStatus">
                            <div class="progress" style="height: 10px; margin-top: 10px;">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': progressPhoto + '%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            Uploading {{fileName}} ...
                        </ng-container>
                    </div>
                    <div class="col-md-6">
                        <h5 class="">Child's Profile (Optional)</h5>
                        <input type="file" class="form-control " (change)="profileUpload($event)">
                        <ng-container *ngIf="uploadService.fileUploadStatus && profileStatus">
                            <div class="progress" style="height: 10px; margin-top: 10px;">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': progressProfile + '%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            Uploading {{fileName}} ...
                        </ng-container>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <h5 class="">
                            Social media (Optional)

                        </h5>
                        <textarea class="form-control " rows="3" [(ngModel)]="social"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>