<div class="container">
    <div class="col-md-12 text-center section-padding">
       <h1 class="my-5">Latest News</h1>
       <div class="row mb-5">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <a href="https://www.indiatoday.in/education-today/news/story/50-child-prodigies-awarded-by-noble-laureate-kailash-satyarthi-1633755-2020-01-03" target="_blank">
                <img src="../../../../assets/latestnewsimage1.jpeg" class="blog_img " height="180"  alt="latestnewsimage"></a>
             </div>
          </div>
          <div class="col-md-6">
             <div class="text" >
                <p class="text-start text-wrap"><span style="font-weight: 700;font-size:20px;">Gulf news:</span> “Young geniuses from around the world gathered in Dubai on Saturday for the Global Child Prodigy (GCP) Awards, a platform recognising top 100 young talents for their achievements in science, arts, music, dance, writing, acting, entertainment, sports and other fields.”                </p>
                <div class="text-start">
                   <a href="https://gulfnews.com/uae/100-talented-youth-feted-at-global-child-prodigy-awards-2022-in-dubai-1.90030147" target="_blank">  <button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
       <div class="row mb-5 ">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <iframe  height="182" src="https://www.youtube.com/embed/-pII_BZbito" class="blog_img" style="border:none;border-radius: 10px;">
                </iframe> 
             </div>
          </div>
          <div class="col-md-6">
             <div class="text">
                <p class="text-start text-wrap"><span style="font-weight:700;font-size:20px;">Rajya Sabha Tv:</span> “Global Child Prodigy Awards celebrates the talent of children in different categories — dancing, music, arts, writing, acting, modelling, science, innovation, sports”.
                </p>
                <div class="text-start">
                   <a href="https://gcpawards.com/blog/global-child-prodigy-awards-worlds-first-ever-child-prodigy-event" target="_blank">  <button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
       <div class="row ">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <a href="https://www.dailypioneer.com/2018/state-editions/gcpa-initiative-for-greater-opportunities-to-kids.html" target="_blank">
                <img src="../../../../assets/latestnews.jpeg" class="blog_img"  height="180" alt="latestnews"></a>
             </div>
          </div>
          <div class="col-md-6">
             <div class="text-start text-wrap">
                <p class="latestp"><span style="font-weight: 700;font-size:20px;">ANI News :</span> “Global Child Prodigy Awards the world’s first and only child prodigy initiative thataims at recognizing young talents, has just announced the names of the top 100 child prodigies for the year 2022.”</p>
                <div class="text-start">
                   <a href="https://www.aninews.in/news/business/business/global-child-prodigy-awards-announces-top-100-child-prodigies-for-202220211227140010/" target="_blank"><button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
