@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
h1 {
    color: #ef3789!important;
    font-size: 44px!important;
    font-weight: 700!important;
    font-family: 'Amaranth', sans-serif!important;
}
p {
    font-size: 18px;
    line-height: 32px;
    color: #555555!important;
}

img{
  border-radius: 2.5%;
}

.blog_img{
  width:400px;
  max-width:100%;
}

@media (max-width:576px){
  .blog_img{
   max-width: 300px;
    
  }
}