<div class="container">
    <div class="col-md-12 text-center section-padding">
       <h1 class="my-5">Latest News</h1>
       <div class="row mb-5">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <a href="https://www.indiatoday.in/education-today/news/story/50-child-prodigies-awarded-by-noble-laureate-kailash-satyarthi-1633755-2020-01-03" target="_blank">
                <img src="../../../../assets/latestnewsimage1.png" class="blog_img " height="180"  alt="latestnewsimage"></a>
             </div>
          </div>
          <div class="col-md-6">
             <div class="text" >
                <p class="text-start text-wrap"><span style="font-weight: 700;font-size:20px;">India Today:</span> “The Global Child Prodigy Awards were presented by Nobel Peace Laureate Shri Kailash Satyarthi and  Dr.Kiran Bedi. The list includes talents from myriad backgrounds showing core competency in their area of interests such as martial art, painting, modeling, writing, entrepreneurship, social work, acting etc.”
                </p>
                <div class="text-start">
                   <a href="https://www.indiatoday.in/education-today/news/story/50-child-prodigies-awarded-by-noble-laureate-kailash-satyarthi-1633755-2020-01-03" target="_blank">  <button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
       <div class="row mb-5 ">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <iframe  height="182" src="https://www.youtube.com/embed/-pII_BZbito" class="blog_img" style="border:none;border-radius: 10px;">
                </iframe> 
             </div>
          </div>
          <div class="col-md-6">
             <div class="text">
                <p class="text-start text-wrap"><span style="font-weight:700;font-size:20px;">Rajya Sabha Tv:</span> “Global Child Prodigy Awards celebrates the talent of children in different categories — dancing, music, arts, writing, acting, modelling, science, innovation, sports”.
                </p>
                <div class="text-start">
                   <a href="#" target="_blank">  <button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
       <div class="row ">
          <div class="col-md-6 mb-4">
             <div class=" text-center">
                <a href="https://www.dailypioneer.com/2018/state-editions/gcpa-initiative-for-greater-opportunities-to-kids.html" target="_blank">
                <img src="../../../../assets/latestnews.png" class="blog_img"  height="180" alt="latestnews"></a>
             </div>
          </div>
          <div class="col-md-6">
             <div class="text-start text-wrap">
                <p class="latestp"><span style="font-weight: 700;font-size:20px;">The Pioneer:</span> “GCPA initiative for greater opportunities to kids. The Global Child Prodigy Award is going to launch a special initiative for the children that would give them greater opportunities to rise to higher levels.”</p>
                <div class="text-start">
                   <a href="https://www.dailypioneer.com/2018/state-editions/gcpa-initiative-for-greater-opportunities-to-kids.html" target="_blank"><button class="btn btn-primary ">Read more...</button></a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
