<div class="container my-5 pt-3 px-1 text-center" style="min-height: 85vh;">
    <h1 class="mt-5">Gallery</h1>
    <a>
        <p class="mainp">The journey so far in pictures</p>
    </a>
    <div class="container mt-6 py-6 px-4 back" *ngIf="galleryService.gallery.length>0 ; else loader">
        <div class="row text-center">
            <ng-container *ngFor="let photo of galleryService.gallery">
                <div [ngClass]="{'col-md-3 px-3 py-3 my-auto':true}" (mouseenter)="photo.Hovering=true" (mouseleave)="photo.Hovering=false">
                    <img [src]="photo.ImageUrl" (click)="open(photo.ImageUrl)" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="{'img-fluid rounded':true,'darken shadow':photo.Hovering}" alt="">
                </div>
            </ng-container>

         <app-carousel></app-carousel>
            <app-img-popup [ImageUrl]="modalImg"></app-img-popup>
            <ng-container *ngIf="rawDataService.rawData != undefined">
                <div *ngIf="gallery.length != rawDataService.rawData[0].NumberOfGalleryPics">
                    <button class="btn btn-primary text-center" (click)="showMore()">Show More...</button>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>