<div class="row text-center container-fluid mt-4 ms-2">
    <owl-carousel-o class="container-fluid text-centre " [options]="customOptions" (translated)="getPassedData($event)">

        <ng-template carouselSlide class="col">
            <div class="slide mx-2">
                <app-sections></app-sections>
            </div>
        </ng-template>
        <ng-template carouselSlide class="col">
            <div class="slide mx-2">
                <app-sections2></app-sections2>
            </div>
        </ng-template>
        <ng-template carouselSlide class="col">
            <div class="slide mx-2">
                <app-sections3></app-sections3>
            </div>
        </ng-template>
        <ng-template carouselSlide class="col">
            <div class="slide mx-2">
                <app-section4></app-section4>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>