@media (min-width: 576px){

    .container {
        max-width: 560px;
    }
}
@media (min-width: 768px){

    .container {
        max-width: 740px;
    }
}

@media (min-width: 992px){

    .container {
        max-width: 1020px;
    }
}

@media (min-width: 1200px){

    .container {
        max-width: 1200px;
    }
}