@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");
body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  -webkit-text-size-adjust: none;
}
td {
  word-break: break-word;
}
body,td,th {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}
.button {
  background-color: #3869D4;
  border-top: 10px solid #3869D4;
  border-right: 18px solid #3869D4;
  border-bottom: 10px solid #3869D4;
  border-left: 18px solid #3869D4;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

.button--green {
  background-color: #22BC66;
  border-top: 10px solid #22BC66;
  border-right: 18px solid #22BC66;
  border-bottom: 10px solid #22BC66;
  border-left: 18px solid #22BC66;
}

@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
    text-align: center !important;
  }
} 
/* Discount Code ------------------------------ */

.discount {
  width: 100%;
  margin: 0;
  padding: 24px;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  background-color: #F4F4F7;
  border: 2px dashed #CBCCCF;
}

.discount_heading {
  text-align: center;
}

.discount_body {
  text-align: center;
  font-size: 15px;
}
/* Social Icons ------------------------------ */


/* Data table ------------------------------ */

.purchase_item {
  padding: 10px 0;
  color: #51545E;
  font-size: 15px;
  line-height: 18px;
}

.purchase_heading {
  padding-bottom: 8px;
  border-bottom: 1px solid #EAEAEC;
}

.purchase_heading p {
  margin: 0;
  color: #85878E;
  font-size: 12px;
}

.purchase_footer {
  padding-top: 15px;
  border-top: 1px solid #EAEAEC;
}

.purchase_total {
  margin: 0;
  text-align: right;
  font-weight: bold;
  color: #333333;
}

.purchase_total--label {
  padding: 0 15px 0 0;
}

.body-sub {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #EAEAEC;
}

.content-cell {
  padding: 45px;
}

@media only screen and (min-width: 620px) {
  .u-row {
    width: 600px !important;
  }
  .u-row .u-col {
    vertical-align: top;
  }
  .u-row .u-col-50 {
    width: 300px !important;
  }
  .u-row .u-col-100 {
    width: 600px !important;
  }
}

@media (max-width: 620px) {
  .u-row-container {
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .u-row .u-col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
  }
  .u-row {
    width: calc(100% - 40px) !important;
  }
  .u-col {
    width: 100% !important;
  }
  .u-col>div {
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

table,
tr,
td {
  vertical-align: top;
  border-collapse: collapse;
}

p {
  margin: 0;
}

.ie-container table,
.mso-container table {
  table-layout: fixed;
}

* {
  line-height: inherit;
}

a[x-apple-data-detectors='true'] {
  color: inherit !important;
  text-decoration: none !important;
}

table,
td {
  color: #000000;
}

#u_body a {
  color: #0000ee;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .container {
      max-width: 570px;
  }
  
}

@media (min-width: 768px) {
  .container {
      max-width: 760px;
  }
 
}

@media (min-width: 992px) {
  .container {
      max-width: 990px;
  }
  .back {
      background-image: url("../../../assets/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1180px;
  }
  .back {
      background-image: url("../../../assets/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
}