<div class=" back bg-image py-5 mt-3">

    <div class="container pt-3 px-1 text-center">
        <div class="container " style="color: white;">
            <div class="row mt-4">
                  <div>
                     <h1 style="color: white !important;">How it Works ?</h1>
                     <p class="workingp" style="text-decoration:underline; font-size: 14px;">The way to let the world know about you.</p>
                     <div class="row text-center">
                       
                        <div class="col-md-4 mx-auto mb-5 pb-5" style="color: #fff;
                        font-size: 15px;
                        font-weight: 400;">
                           <div class="spekers-tickets-info">
                              <i class="fa fa-wpforms" style="font-size: 60px; display: block;"></i> <span style="font-size: 20px;
                              font-weight: 500;">Registration</span>
                              <p style="color:#fff;font-size:15px;font-weight: 400;" class="my-2">The interested participants have to<br > register via official website.</p>
                           </div>
                        </div>
                       
                     </div>
                     <div class="row mt-2">
                        <ng-container *ngFor="let con of content" >

                           <div class="col-md-3 ">
                              <div class="spekers-tickets-info">
                                 <i [ngClass]=[con.icon] style="font-size: 60px; display: block;"></i> <span [innerText]=[con.heading] style="font-size: 20px;
                                 font-weight: 500;"></span>
                                 <p style="color:#fff;font-size:15px;font-weight: 400;" [innerText]=[con.disc] class="mt-2"></p>
                              </div>
                           </div>
                        </ng-container>
                     </div>
                     <hr class=" mt-5"style="height:1px; border:1px solid white; color: white;; background-color:white">
                  <div class=" text-center my-5">
                     <a routerLink="/Registration"><button class="btn btn-primary">Apply Now</button></a>
                  </div>
               
            </div>
         </div>
    </div>
</div>