<div class="container mt-5 pt-5" style="line-height: 2;">

    <div class="col-md-12 text-center">
        <h1 class="mb-5">Terms &amp; Conditions</h1>
        <div class="row content-padding">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="terms"> Welcome to <b>Global Child Prodigy Award</b>, World’s first child prodigy initiative.</p>
                
                <p class="terms">Welcome to Global Child Prodigy Awards®, World’s first child prodigy recognition initiative. Over the last few years, Global Child Prodigy Awards® has enjoyed increasing international recognition. Today they are among the most respected and sought-after prizes bestowed anywhere. <br><br>
                    Their long-recognized prestige has grown over the years because the public recognizes the GCPA as a prestigious award exclusively for talented children worldwide and because care has been taken to preserve the integrity of the GCPA symbol. <br> <br>
                    GCP Awards is the first platform of its kind with the objective of recognizing child prodigies in different categories such as arts, music, dance, writing, modeling, acting, science, sports, and many others. This initiative aims at giving young talents the global exposure that they deserve and provide them with the right opportunities at the right time to ensure that they create a major impact on society. <br><br>
                    
                    If you continue to browse and use this website, you are agreeing to comply with the requirements and are bound by the mentioned terms and conditions of use, along with our privacy policy that will primarily govern GCP Awards relationship with you in relation to this website. <br> <br>
                    By further accessing or approaching this site “www.gcpawards.com”, you(user) agree to have read, understood & to be bound by these terms & conditions.  <br> <br>
                    In this site, ‘we’ also means ‘us’, ‘GCP’, ‘GCP Awards’, ‘GCPA’, ‘our’, and ‘Global Child Prodigy limited’ in connection with our partners, service providers, advertisers, sponsors, and other participants. We do not support any other third-party organizers who are not our sponsors and partners. <br><br>
                    The services herein mentioned are solely provided by our registered office, and ‘we’ reserve the sole authority to amend these terms and conditions without prior notice. 
                    Global Child Prodigy PVT. Ltd, a limited company duly registered in India under the Companies Act 2013.
                </p>
                <p class="terms">The registered office is- <br> Global Child Prodigy PVT. Ltd,<br>
                    1st Floor, #7 AWS Compound, Koramangala, Bengaluru,<br>
                    Karnataka, India-560034<br>
                    Contact number: +91-9710819518<br>
                    E-mail: <a href="mailto:contact@gcpawards.com">contact@gcpawards.com</a>  <br>
                </p>
                <h6 style="text-align:justify;"><b>OBJECTIVE</b></h6>
                <p class="terms">GCPA is the world’s first child prodigy recognition event globally, and our objective is to give young talents the global exposure that they deserve. We are committed to providing them with the right prospects at the right time to ensure that they can create an impact on society. </p>
                <h6 style="text-align:justify;"><b>GENERAL</b></h6>
                
                <p class="terms"><span>1.</span>&nbsp; It shall be the sole responsibility of the user to check the terms and conditions on the website of the company. </p>
                <p class="terms"><span>2.</span>&nbsp; By accessing or using any part of the site, you represent that you have read, understood, and agree to be bound by these Terms and Conditions, including any future modifications.                </p>
                <p class="terms"><span>3.</span> &nbsp;The company is not responsible for inaccurate data/details provided to the user by the third party.
                </p>
                <p class="terms"><span>4.</span> &nbsp; GCPA respects the intellectual property or contents of others and asks its users to do the same. If you believe that your work has been utilized in a way by GCP including (image, video, audio, news, social media posts, design, etc.) that constitutes copyright infringement or anything else, you can contact us for proper attribution or removal. Please email us with more details at contact@gcpawards.com, and we will promptly take the required action.</p>
                <p class="terms"><span>5.</span> &nbsp; The services provided by the GCP Awards and these terms and conditions shall be primarily governed by Indian laws, and in case of dispute, the subject shall fall under the exclusive jurisdiction of the courts of India; if any parties wish to seek legal recourse may do so by using the court of law in <b> Chennai, India only.</b></p>
                <p class="terms"><span>6.</span>&nbsp; Under no circumstances GCPA as a company, individual members, its directors, officers, subsidiaries, agents, affiliates, or content provider will be held liable for any indirect, special, punitive, or consequential damages arising out of or are related to the use, performance, non-performance of the services. <br>
                    In case of any serious disagreement in any manner, the company shall be liable to pay a sum of up to USD $100.00 as a settlement. 
                </p>
                <p class="terms"><span>7.</span>&nbsp; Any kind of use of the information provided by the company or the site for an unlawful or illegal purpose is against our terms.
                </p>
                <p class="terms"><span>8.</span> &nbsp; Harassing or causing distress or inconvenience to any person by transmitting obscene or offensive content or disrupting the normal flow of dialogue within the site is strictly unacceptable.
                </p>
                <p class="terms"><span>9.</span> &nbsp; There will be no agreement from our side with a minor, and in case the child needs to use the site, it shall be done with the due consent of parents or legal guardian, else the company shall not be liable for any further consequences.                </p>
                <p class="terms"><span>10.</span> The required information in the application should be provided by the parents/ legal guardian in order to avoid unnecessary glitches.</p>
                <p class="terms"><span>10.</span> &nbsp; These terms shall be governed and construed in accordance with the laws of India. </p>
                <p class="terms"><span>*</span> &nbsp; Note: The company reserves all powers and rights to amend the existing terms and conditions without giving prior notice.
                </p>
                

                
                <h6 style="text-align:justify;"><b> APPLICATION PROCESS</b></h6>
                <p class="terms"> The application is open to the residents of Indian territory and participants can be Citizens and or residents of any part of the globe. <br>
                    Following terms and conditions must be adhered to in order to proceed with the GCPA application process: - </p>
             <p class="terms"><span>1.</span>&nbsp; The applicant (child) must be below the age of 15 years on or before the time of application. If required the authentic documents can be asked for the verification of the same.</p>
             <p class="terms"><span>2.</span>&nbsp; The participant may submit their information in no more than one category per application. In order to participate in more than one category, the participants are required to submit a separate application for each category. </p>
             <p class="terms"><span>3.</span> &nbsp; A one-time application fee is only charged for the required procedure. The application fee is charged to avoid spam entries at GCPA. </p>
             <p class="terms"><span>4.</span> &nbsp; The application fee is non-refundable under any circumstances. In case of non-selection of the participant, GCPA will not be liable to refund the application fee.
             </p>
             <p class="terms"><span>5.</span> &nbsp;The participant should not try to communicate with any of the members of the company or the selection committee except in case of queries.</p>
             <p class="terms"><span>6.</span>&nbsp; Participant/user shall not post any abusive/defamatory comments on the website or social media or any of the related pages; as a consequence, GCPA has sole authority to disqualify such participant/user and take legal action for the same, if applicable.</p>
             <p class="terms"><span>7.</span>&nbsp; By applying for the Global Child Prodigy Awards®, the participant is giving his/her consent to be bound by the terms and conditions.</p>
             <p class="terms"><span>8.</span>&nbsp; Global Child Prodigy Book named “Top 100 Child Prodigies” will be released featuring 100 Global Awardees, and it shall be used for commercial purposes; note that it will be available worldwide.</p>
             
             <p class="terms"><span>9.</span> &nbsp;The participant shall at any time be required to provide basic personal information, which may not be limited to name, address, contact number, e-mail address, and any other relevant pictures or videos in the field of specialization of the participant.
             </p>
             <p class="terms"><span>10.</span> &nbsp; The information provided or shared by the participant, such as (image, video, audio, news, social media links, website/news link, and others.)  may be used by the Global Child Prodigy and its sister products/services for internal purposes and/ the company holds the right and authority to pass on the same for future promotion or for the feature in the Global Child Prodigy Annual Book - “Top 100 Child Prodigy” /blogs/news/presentation/brochures/social media/YouTube/Posters/Tv/Videos and others. Providing/sharing such information has been solely done in free consent and without any coercion by the participant.</p>
             <p class="terms"><span>11.</span> &nbsp; In case a participant gets selected for the award and is invited to the award ceremony/event or any other occasion, the participants are required to take care of their travel and accommodation by themselves.</p>
             <p class="terms"><span>12.</span> &nbsp; In case the recipient of the award is unable to travel and receive the award in person, it is not possible for us to hand it over to any of their representatives other than the recipient's parents, legal guardians, or mentors. The Award and Certificate will be couriered by the GCP Officials, provided the cost of shipment has to be borne by the recipient themselves.             </p>
             <p class="terms"><span>13.</span> &nbsp; Any fees or information will exclusively be collected through the website/ official e-mail/ official partners only. No in-person contact will be made from the side of the company. In case of any such contact, the company shall not bear any liability.</p>
             <p class="terms"><span>14.</span> &nbsp; By providing such information, the participant gives the consent and authority to the company to share this information for the official purpose and for the purposes of the awards, and hereby the participant agrees and that they shall not claim against the GCPA for sharing such information.</p>
             <p class="terms"><span>15.</span> &nbsp; Once a participant shares the basic information with the company, in case required, the GCPA Officials have all the authority and rights to use the pictures/ information provided in the participant’s social media accounts for official usage and/ promotional purposes like the Global Child Prodigy Annual Book/blogs/news/social media/YouTube/posters, etc.             </p>
             <p class="terms"><span>16.</span> &nbsp; A participant can apply for the GCP Awards till he/she attains the age of 15; even if the participant has won an award in previous entries still, he/she can apply; there is no bar on the same.
             </p>
             <p class="terms"><span>17.</span> &nbsp; Under all circumstances, the decision of the GCPA selection committee shall be final. Under no circumstances GCPA is liable for sharing the internal validation process/documents to any participant, parent, government, non-government organization, and others. 
             </p>
             <p class="terms"><span>18.</span> &nbsp; In case of any fraud or misrepresentation from the side of the participant would amount to legal recourse and can form the basis for terminating such participation in the award.
             </p>
             <p class="terms"><span>19.</span> &nbsp; The GCPA Officials have the right to cancel and annul an award if the recipient commits acts of criminal misbehavior or otherwise abuses the award. Although there are no specific guidelines for otherwise withdrawing an honor from a recipient, returning/renouncing an award to express a protest, or declining an award after an official list of recipients has been published are merely symbolic actions.
             </p>
            <p class="terms"><span>20.</span> The award or application can be revoked at any time by GCPA whereby the participant has:</p>
             <p class="terms"><span>a. </span> &nbsp;  Misrepresented or given false information in the application or selection process. 
             </p>
             <p class="terms"><span>b. </span> &nbsp; Committed a crime after/before receiving the award.
             </p>
                   <p class="terms"><span>c. </span> &nbsp; Shown disregard to the GCPA policies.                   </p>


                   
                   <h6 style="text-align:justify;"><b>RULES FOR EXEMPTION/ WAIVE OFF OF THE REGISTRATION FEES</b></h6>
                   <p class="terms">If the candidate belongs to the underprivileged or indigent section of society or the candidate is unable to bear the registration charges and is studying or being trained under the purview of an NGO, or if the candidate is being nominated or referred by any member of the company or if the candidate is physically challenged/differently abled the prescribed registration fees can be exempted after document verification.                </p>
                   <p class="terms">
                       <span>*</span>&nbsp;
                       *Note: Documents in support of such incapacity or disability should be submitted for the company’s reference. The final decision on this will be taken by GCP Team.
                        Any kind of fraud or misrepresentation would amount to legal actions.

                    </p>
                    
                    <h6 style="text-align:justify;"><b>INTELLECTUAL PROPERTY</b></h6>
                    <p class="terms">The website and service along with original content, functionality, features are and will remain the exclusive property of Global Child Prodigy Awards Ltd. and the company shall acquire all the rights including but not limited to content, pictures, logo, graphics, sound, videos, trademarks, service marks, primarily owned by the GCPA. 
          </p>
          <p class="terms">Contents that are provided to the users, participants, employees, intern and sponsors are provided for personal use only and whatsoever should not be in any case copied, distributed, reproduced, displayed, sold, licensed, sub-licensed, transmitted without prior permission of the owners. <br>
            The logo of the GCPA is a trademark registered and shall not be used in connection to any other site or sponsors page that is not primarily attached to the GCPA service.<br>
            The "Global Child Prodigy Awards®" statuette and name, also known as the "Global Child Prodigy Awards®" in popular usage, are the intellectual property of Global Child Prodigy, as well as a registered trademark and service mark. GCP has the sole and exclusive right to reproduce, manufacture, copy, sell, display images of, and publish said statuette in any size or medium, regardless of whether it is in three or two dimensions, and to distribute or otherwise exploit the statuette or reproductions of same by gifting, selling, licensing, or using any other method. No manufacturer, advertiser, organization, or individual may make or use any reproduction, replica, sketch, photograph, derivative work, or other copy of the Award statuette unless it is done so in compliance with these restrictions or with an express written license from the GCP. <br>
            Permission to use Global Child Prodigy Awards® symbols for any publication other than fair use hard-news reporting must be secured in writing from the GCP; however, permission to use GCP Award symbols and marks in accordance with these regulations is hereby granted. <br>
            Winners of the GCP Award have no rights to the GCP copyright or goodwill associated with the GCPA’s name/statuette or its Intellectual Property. Award recipients are required to adhere to these rules and regulations. Award recipients are not allowed to sell or otherwise dispose of the GCP statuette, nor are they allowed to let it be sold or disposed of by operation of law unless they have first made an offer to sell it to the  GCP for $10.00 USD. This regulation also applies to GCP Award recipients' heirs and assigns who acquire a statuette as a gift or inheritance. <br> <br>
            The term “Intellectual Property” has been in use for almost more than one hundred and fifty years, which refers to the general area of law that includes copyright, patents, designs, trademarks, and related rights. <br>
            The intellectual property law regulates the creation, use, and exploitation of mental and creative labor.<br>
            Intellectual property is primarily divided into two categories: Industrial property, which includes inventions(patent), trademarks, industrial designs, and geographic indications; and copyright which includes literary and artistic works.<br>
        </p>
        
        <p class="terms">The primary Acts that govern such issues are: -</p>
        
        <p class="terms"> <span>I</span>&nbsp; Trade Marks Act,1999.
        </p>
        <p class="terms"> <span>II.</span>&nbsp;Patents Act,1970. </p>
        <p class="terms"> <span>III.</span>&nbsp; The Copyright Act,1957.</p>
        <p class="terms"> <span>IV.</span>&nbsp; The Designs Act,2000.</p>
        <p class="terms"> <span>*</span>&nbsp; The applicable laws are not limited to these Acts.</p>
        <p class="terms"> <span>*</span>&nbsp; Any above-mentioned act or such acts that will lead to infringement of our rights shall attract legal consequences.</p>
        <p class="terms"> <span>*</span>&nbsp; In case if you are a copyright owner and have a good faith belief that your material is allegedly infringed, then contact us and the lawful action will proceed accordingly.</p>
        
        <h6 style="text-align:justify;"><b>RULES TO ABIDE BY THE USERS:
        </b></h6>
        <p class="terms">
            <ul>
                <li>
                    The site let’s its users to make some contribution to the site in regard with the content. You hold sole responsibility for the content (including all texts, images, graphics, documents, and audio) you provide on the site. The content must be not be copied from any other third party and must hold the required owner’s license/copyright. It must not harass, be obscene, racist, unlawful, ethically offensive, threatening, or a criminal offense to anybody or anything. It must not be advertisements or promotions of other businesses.
                </li>
                <li>
                    This site's content is for your information and personal use only. You must not copy, modify, reproduce, republish, distribute, display, or transmit any portion of the site for commercial, non-profit, or public purposes by any means without the express written consent of the Global Child Prodigy Awards®. <br>
                </li>
                <li>
                    You are prohibited from decompiling, reverse engineering, disassembling, renting, leasing, lending, selling, sublicensing, or creating derivative works from the site or its content. You are not permitted to use network monitoring or discovery software to determine the site's architecture or extract usage or user data. You may not use any robot, spider, or other automatic device or manual process to monitor or copy our site or its content without our express written permission (except to the extent necessary for public search engines to create searchable indices).<br>
                </li>
                <li>
                    The site or its information does not come with any express or implied warranties or guarantees regarding its accuracy, completeness, adequacy, availability, or currency. GCP does not guarantee or represent that the site will be free of errors in any way.<br>
                </li>
                <li>
                    The site may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information that you provide whilst visiting such sites, and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question. <br>
                </li>
                <li>
                    The user must be careful of their own safety and must not indulge into any activities that causes unnecessary risks. <br>
                </li>
                <li>
                    The user must not break any laws that are concerned with the GCP limited. <br>
                </li>
                <li>
                    In case of conflict, the terms and conditions of the company shall lead. <br>
                </li>
                <li>
                    Once being a part of the competition, the results of the hunt are declared final and the decisions are made by the selection committee and no oppositions will be taken into account. <br>
                </li>
                <li>
                    Users owning multiple accounts (by any means, invalid identities or proxy IPs etc) to create disputes between communities, and disrupt/annoy other users is not encouraged by us, and immediate termination and action against all your accounts will be taken. The GCP has all the rights to delete any contribution or account of the user at any time & for any reason. <br>
                </li>
            </ul>
            <br>

        <h6><b>USER’S OBLIGATIONS
        </b></h6>
        <p class="terms">
            <ul>
                <li>Users or applicants by sharing such information hereby agree that GCPA shall have all the rights and authority reserved to share such information collected with such other third party strictly for the purpose of official dealings required for the smooth functioning of the contest, and hereby agree that they shall not file any claim against the company for such sharing of personal information.
                    For further details please refer to our privacy policy that governs the use of your personal information.
                    For further details, please refer to our privacy policy that governs the use of your personal information.
                    The applicable laws shall include but not be limited to the Information Technology Act of 2000 and Privacy rules.
                </li>
                <li>Once the user or participant confirms and shares a picture or video through the website, confirms that there is no infringement of his/her statutory rights or intellectual property rights, including copyrights in musical, dramatic, dance, literary content, etc.
                </li>
                <li>All the information provided by you are securely encrypted into our database with security. In case you wish to withdraw the info for any reason at any time, you are allowed to do so by contacting us. The withdrawn info shall be deleted in all our spaces and will cause no further complications.
                </li>
                <li>
                    If you use this site, you are responsible for maintaining your account's confidentiality and password and restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that GCPA is not responsible for third-party access to your account that results from theft or misappropriation of your account. GCPA reserves the right to refuse or cancel service, terminate accounts or remove or edit content at our sole discretion.
                </li> 
                <li>
                    Any queries concerning participation can always be enquired by contacting us through the number or email provided.
                </li> 
            </ul> 
        <h6 style="text-align:justify;"><b>IDEMNITY
        </b></h6>
        <p class="terms">You agree to defend, indemnify, and hold us harmless from and against any claims, actions or demands, including without limitations, reasonable legal and accounting fees, arising or resulting from your breach of these ‘Terms of Use’ or your uploading of, access to, or use or misuse of the content or the site. <br>
            We shall provide notice to you of any such claim, suit, or proceeding and shall assist you, at your expense, in defending any such claim, suit, or proceeding. We reserve the right to assume the exclusive defense and control of any matter which is subject to indemnification under this section. In such case, you agree to cooperate with any reasonable requests assisting our defense of such matter.
        </p>
        
        <h6 style="text-align:justify;"><b>DISCLAIMER
        </b></h6>
        <p class="terms">Your use of the service through this website is solely at your own risk.<br>
            We do not hold any other third-party organizers or websites who do not belong to our service providers, licensors, partners or sponsors. Any tricks or activities applied onto our users by such parties are not concerned with us, and we do not hold any liability.<br>
        </p>

        <h6 style="text-align:justify;"><b>
            CHANGES TO TERMS            
        </b></h6>
        <p class="terms">
            GCPA reserve the rights and authority to amend, replace or modify the terms and condition at any time under which the site is offered. The most current version of the Terms will supersede all previous versions. GCPA encourages you to periodically review the Terms to stay informed of our updates. Additional terms may apply to certain products or services, and in the event, there is a conflict between these terms and any additional terms, the latter will take control. <br>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>