<div class="container mt-5 pt-5" style="line-height: 2;">

    <div class="col-md-12 text-center">
        <h1 class="mb-5">Terms &amp; Conditions</h1>
        <div class="row content-padding">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="terms"> Welcome to <b>Global Child Prodigy Award</b>, World’s first child prodigy initiative.</p>
                
                <p class="terms">If you Continue to browse and use this website you are agreeing to comply with the requirements and are bound by the mentioned terms and conditions of use, along with our privacy policy that will primarily govern GCP Awards relationship with you in relation to this website.</p>
                <p class="terms">By further accessing or approaching this site “www.gcpawards.com”, you(user) agree to have read, understood &amp; to be bound by these terms &amp; conditions. <br> In this site, ‘we’ also means ‘us’, ‘GCP’, ‘our’, ‘Global Child Prodigy limited’ in connection with our partners, service providers, advertisers, sponsors and other applicants. We do not support any other third-party organisers who are not our sponsors.
                    <br> The services herein mentioned are solely provided by our registered office and ‘we’ reserve the sole authority to amend these terms and conditions without prior notice.<br>
                    Global Child Prodigy PVT. Ltd, a limited company duly registered in India under the Companies Act,2013. <br>
                </p>
                <p class="terms">The registered office is- <br> Global Child Prodigy PVT. Ltd,<br>
                    1st Floor, #7 AWS Compound, Koramangala, Bengaluru,<br>
                    Karnataka, India-560034<br>
                    Contact number: +91-9710819518<br>
                    E-mail: contact@gcpawards.com<br>
                </p>
                <h6 style="text-align:justify;"><b>OBJECTIVE</b></h6>
                <p class="terms">GCPA is the world’s first child prodigy event and our objective is to give young talents the global exposure that they deserve. We are committed to providing them with the right prospects at the right time to ensure that they can create an impact on society. </p>
                <h6 style="text-align:justify;"><b>GENERAL</b></h6>
                
                <p class="terms">The site may contain third party websites (external sites) which are provided as to your convinience and are not considered to be an endorsement by us. The content on such sites are provided and maintained by others to which we cannot accept any responsibility or liability.</p>
                <p class="terms">Any actions that disturb the terms and policies of the site or other users of the site and illegal activities are strictly prohibited. Violating any such rules will lead to strict action against the person as per the applicable laws.</p>
                <p class="terms"><span>1.</span>&nbsp; It shall be the sole responsibility of the user to check the terms and conditions on the website of the company.</p>
                <p class="terms"><span>2.</span>&nbsp; The company is not responsible for inaccurate data/details provided to the user by a third party.</p>
                <p class="terms"><span>3.</span> &nbsp;The services provided by the GCP Awards and these terms and conditions shall be primarily governed by the Indian laws and in case of dispute, the subject shall fall under the exclusive jurisdiction of the courts of India if any parties wish to seek legal recourse may do so by using the court of law in Chennai.
                </p>
                <p class="terms"><span>4.</span> &nbsp; Under no circumstances GCPA as a company, individual members, its directors, officers, subsidiaries, agents, affiliates, or content provider will be held liable for any indirect, special, punitive, or consequential damages arising out of or are related to the use, performance, non-performance of the services.</p>
                <p class="terms"><span>5.</span> &nbsp; In case of any serious disagreement, the company shall be liable to pay a sum of up to 5000INR only as a settlement. </p>
                <p class="terms"><span>6.</span>&nbsp; Any kind of use of the information provided by the company or the site for any unlawful or illegal purpose is against our terms.</p>
                <p class="terms"><span>7.</span>&nbsp; There will be no agreement from our side with a minor, and in case the child needs to use the site it shall be done with due consent of parents or legal guardians, else the company shall not be liable for any further consequences.</p>
                <p class="terms"><span>8.</span> &nbsp; Harassing or causing distress or inconvenience to any person by transmitting obscene or offensive content or disrupting the normal flow of dialogue within the site is strictly unacceptable.
                </p>
                <p class="terms"><span>9.</span> &nbsp; The required information in the application should be provided by the parents/ legal guardian in order to avoid unnecessary glitches.</p>
                <p class="terms"><span>10.</span> &nbsp; These terms shall be governed and construed in accordance with the laws of India. </p>
                <p class="terms"><span>*</span> &nbsp; Note: The company reserves all powers and rights to amend the existing terms and conditions without giving prior notice.
                </p>
                

                
                <h6 style="text-align:justify;"><b> APPLICATION PROCESS</b></h6>
                <p class="terms"> The application is open to the residents of Indian territory and participants can be Citizens and or residents of any part of the globe. <br>
                    Following terms and conditions must be adhered to in order to proceed with the GCPA application process: - </p>
             <p class="terms"><span>1.</span>&nbsp; The applicant (child) must be below the age of 15 years on or before the time of application. If required the authentic documents can be asked for the verification of the same.</p>
             <p class="terms"><span>2.</span>&nbsp; Multiple entries are forbidden; the applicant is allowed to only apply in two categories at max.</p>
             <p class="terms"><span>3.</span> &nbsp; Application fee is only charged for the required procedure. </p>
             <p class="terms"><span>4.</span> &nbsp; The application fee is non-refundable under any circumstances. In case of non-selection of the participant, GCPA will not be liable to refund the application fee.
             </p>
             <p class="terms"><span>5.</span> &nbsp;The participant/ applicant should not try to communicate with any of the members of the company or the jury members except in case of queries. </p>
             <p class="terms"><span>6.</span>&nbsp; Participants/ applicants/users shall not post any abusive comments on the website or any of the related pages, as a consequence GCPA has sole authority to disqualify such participant/user and take legal action for the same.</p>
             <p class="terms"><span>7.</span>&nbsp; By applying for the Global Child Prodigy Awards, the applicant is giving his/her consent to be bound by the terms and conditions.</p>
             <p class="terms"><span>8.</span>&nbsp; 100 Global Child Prodigy Book will be released featuring 100 Global Awardees and it shall be used for commercial purposes, note that it will be available worldwide.</p>
             
             <p class="terms"><span>9.</span> &nbsp;The participant/ applicant shall at any time be required to provide basic personal information which may not be limited to name, address, contact number, e-mail address, and any other relevant pictures or videos in the field of specialization of the applicant.
             </p>
             <p class="terms"><span>10.</span> &nbsp; The information provided or shared by the participant may be used by the GCPA for internal purposes and/ the company holds the right and authority to pass on the same for future promotion or for the feature in the Global Child Prodigy Annual Book/blogs/news/social media/YouTube/posters etc. Providing/sharing such information has been solely done with free consent without any coercion by the applicant.</p>
             <p class="terms"><span>11.</span> &nbsp; In case an applicant gets selected for the award/event the company has no liability to bear the travel and accommodation charges at any instance. </p>
             <p class="terms"><span>12.</span> &nbsp; Any fees or information will exclusively be collected through the website/ official e-mail address only. No in-person contact will be made from the side of the company. In case of any such contact, the company shall not bear any liability. </p>
             <p class="terms"><span>13.</span> &nbsp; By providing such information’s the applicant/ participant gives the consent and authority to the company to share this information for the official purpose and for the purposes of the awards and hereby the applicant agrees and that they shall not claim against the GCPA for sharing such information.</p>
             <p class="terms"><span>14.</span> &nbsp; Once an applicant shares the basic information with the company, in case required the GCPA team has all the authority and rights to use the pictures/ information provided in the applicant’s social media accounts for official usage and/ promotional purposes like the Global Child Prodigy Annual Book/blogs/news/social media/YouTube/posters etc.</p>
             <p class="terms"><span>15.</span> &nbsp; Applicant can apply for the GCP Awards till he/she attains the age of 15, even if the participant has won an award in previous entries still he/she can apply, there is no bar on the same.</p>
             <p class="terms"><span>16.</span> &nbsp; Under all circumstances the decision of the panel shall be final.
             </p>
             <p class="terms"><span>17.</span> &nbsp; In case of any fraud or misrepresentation from the side of the applicant would amount to legal recourse and can form the basis for terminating such participation in the award.
             </p>
             <p class="terms"><span>18.</span> &nbsp; The award can be rescinded at any time by GCPA whereby the applicant has:
             </p>
             <p class="terms"><span>19.</span> &nbsp; Misrepresented or given false information in the application
             </p>
             <p class="terms"><span>a. </span> &nbsp;  Committed a crime after/before receiving the award
             </p>
             <p class="terms"><span>b. </span> &nbsp; Shown disregard to the GCPA policies.
             </p>
                   <p class="terms"><span>c. </span> &nbsp; Application fee is only charged for the required procedure. </p>


                   
                   
                   <h6 style="text-align:justify;"><b>RULES FOR EXEMPTION/ WAIVE OFF OF THE REGISTRATION FEES</b></h6>
                   <p class="terms">If the candidates belong to the underprivileged or indigent section of the society or the candidate is unable to bear the registration charges and is studying or being trained under the purview of an NGO or if the candidate is being nominated or referred by any member of the company or if the candidate is physically challenged/differently-abled the prescribed registration fees shall be exempted.</p>
                   <p class="terms">
                       <span>*</span>&nbsp;
                       Note: Documents in support of such incapacity or disability should be submitted for the company’s reference. 
                       Any kind of fraud or misrepresentation would amount to legal actions. 
                    </p>
                    
                    <h6 style="text-align:justify;"><b>INTELLECTUAL PROPERTY</b></h6>
                    <p class="terms">The website and service along with original content, functionality, features are and will remain the exclusive property of Global Child Prodigy Awards Ltd. and the company shall acquire all the rights including but not limited to content, pictures, logo, graphics, sound, videos, trademarks, service marks, primarily owned by the GCPA. 
          </p>
          <p class="terms">Contents that are provided to the users, participants, employees, intern and sponsors are provided for personal use only and whatsoever should not be in any case copied, distributed, reproduced, displayed, sold, licensed, sub-licensed, transmitted without prior permission of the owners. <br>
            The logo of the GCPA is a trademark registered and shall not be used in connection to any other site or sponsors page that is not primarily attached to the GCPA service.<br>
            The term “Intellectual Property” has been in use for almost more than one hundred and fifty years, which refers to the general area of law that includes copyright, patents, designs and trademark, and related rights.<br>
            The intellectual property law regulates the creation, use, and exploitation of mental and creative labor.<br>
            Intellectual property is primarily divided into two categories: Industrial property, which includes inventions(patent), trademarks, industrial designs, and geographic indications; and copyright which includes literary and artistic works.<br>
        </p>
        
        <p class="terms">The primary Acts that govern such issues are: -</p>
        
        <p class="terms"> <span>I</span>&nbsp; Trade Marks Act,1999.
        </p>
        <p class="terms"> <span>II.</span>&nbsp;Patents Act,1970. </p>
        <p class="terms"> <span>III.</span>&nbsp; The Copyright Act,1957.</p>
        <p class="terms"> <span>IV.</span>&nbsp; The Designs Act,2000.</p>
        <p class="terms"> <span>*</span>&nbsp; The applicable laws are not limited to these Acts.</p>
        <p class="terms"> <span>*</span>&nbsp; Any above-mentioned act or such acts that will lead to infringement of our rights shall attract legal consequences.</p>
        <p class="terms"> <span>*</span>&nbsp; In case if you are a copyright owner and have a good faith belief that your material is allegedly infringed, then contact us and the lawful action will proceed accordingly.</p>
        
        <h6 style="text-align:justify;"><b>RULES TO ABIDE BY THE USERS:
        </b></h6>
        <p class="terms">The site lets its users make some contribution to the site in regard to the content. You hold sole responsibility for the content (including all texts, images, graphics, and audio) you provide on the site. The content must be not be copied from any other third party and must hold the required owner’s license/copyright. It must not harass, be obscene, racist, unlawful, ethically offensive, threatening, or a criminal offense to anybody or anything. It must not be advertisements or promotions of other businesses.<br>
            The user must be careful of their own safety and must not indulge in any activities that cause unnecessary risks.<br>
            The user must not break any laws that are concerned with the GCP limited.<br>
            In case of conflict, the terms and conditions of the company shall lead.<br>
            Once being a part of the competition, the results of the hunt are declared final and the decisions are made by the jury and no oppositions will be taken into account.<br>
            The user owning multiple accounts (by any means; invalid identities or proxy IPs etc) to create disputes between communities, disrupt/annoy other users is not encouraged by us and immediate termination and action against all your accounts will be taken. The GCP has all the rights to delete any contribution or account of the user at any time &amp; for any reason.
        </p>
        
        <h6 style="text-align:justify;"><b>USER’S OBLIGATIONS
        </b></h6>
        <p class="terms">Users or applicants by sharing such information hereby agree that GCPA shall have all the rights and authority reserved to share such information collected with such other third party strictly for the purpose of official dealings required for the smooth functioning of the contest, and hereby agree that they shall not file any claim against the company for such sharing of personal information.
            For further details please refer to our privacy policy that governs the use of your personal information. <br>
            The applicable laws shall include but are not be limited to Information Technology Act,2000 and Privacy rules.<br>
            Once the user or applicant confirms and shares a picture or video through the website confirms that there is no infringement of his/her statutory rights or intellectual property rights including copyrights in musical, dramatic, dance, literary content, etc.<br>
            All the information provided by you is securely encrypted into our database with security. In case you wish to withdraw the info for any reason at any time, you are allowed to do so by contacting us. The withdrawn info shall be deleted in all our spaces and will cause no further complications.<br>
            Any queries concerning the competition can always be enquired by contacting us through the number or email provided.<br>
        </p>
        
        <h6 style="text-align:justify;"><b>IDEMNITY
        </b></h6>
        <p class="terms">You agree to defend, indemnify, and hold us harmless from and against any claims, actions, or demands including without limitations, reasonable legal and accounting fees, arising or resulting from your breach of these ‘Terms of Use’ or your uploading of, access to, or use or misuse of the content or the site.<br>
            We shall provide notice to you of any such claim, suit, or proceeding and shall assist you, at your expense, in defending any such claim, suit, or proceeding. We reserve the right to assume the exclusive defense and control of any matter which is subject to indemnification under this section. In such case, you agree to cooperate with any reasonable requests assisting our defense of such matter.
        </p>
        
        <h6 style="text-align:justify;"><b>DISCLAIMER
        </b></h6>
        <p class="terms">Your use of the service through this website is solely at your own risk.<br>
            We do not hold any other third-party organizers or websites that do not belong to our service providers, licensors, or sponsors. Any tricks or activities applied onto our users by such parties are not concerned with us and we do not hold any liability.<br>
            We reserve the rights and authority to amend, replace or modify the terms and conditions at any time, and notice shall be circulated within 30 days prior to any new terms taking effect which may affect you.<br>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>