.full-width-table {
    width: 100%;
    background-color: transparent;
    color: var(--text);
    font-family: var(--font);
}

matInput{
    border: 1px black;
}

mat-paginator,
td {
    background-color: transparent;
    color: var(--text);
    border: transparent;
    font-family: var(--font);
}

th {
    color: var(--button-text);
    font-family: var(--font);
}

tr {
    cursor: pointer;
    font-family: var(--font);
}

.mat-row:hover .mat-cell {
    background-color: var(--primary-bg);
}