
<div class="container">
  <div class="row">
    <div class="col app-banner ">
      <app-banner></app-banner>
    </div>
  </div>
  <div class="row px-5">
    <div class="col">
      <app-testimonials></app-testimonials>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-latest-news></app-latest-news>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-featured-in></app-featured-in>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-sponsers></app-sponsers>
    </div>
  </div>
</div>
