<div class="container">
  <div class="row">
    <div class="col app-banner ">
      <app-banner></app-banner>
    </div>
  </div>
  <div class="row">
    <div class="col" style="max-width: 1152px;margin: auto;
    width: 60%;">
      <app-testimonials></app-testimonials>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-latest-news></app-latest-news>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-featured-in></app-featured-in>
    </div>
  </div>
  <div class="row">
    <div class="col pb-3">
      <app-sponsers></app-sponsers>
    </div>
  </div>
</div>
