<table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Uid Column -->
    <ng-container matColumnDef="Uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Application Id</th>
        <td mat-cell *matCellDef="let row">
            {{row.Uid}}
        </td>
    </ng-container>
    
    <!-- FirstName Column -->
    <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Name</th>
        <td mat-cell *matCellDef="let row">
            {{row.FirstName}}
        </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Category</th>
        <td mat-cell *matCellDef="let row">
            {{row.Category}}
        </td>
    </ng-container>

    <!-- Dob Column -->
    <ng-container matColumnDef="Dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Date Of Birth</th>
        <td mat-cell *matCellDef="let row">
            {{row.Dob}}
        </td>
    </ng-container>

    <!-- PAYMENT Column -->
    <ng-container matColumnDef="Payment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Payment Status</th>
        <td mat-cell *matCellDef="let row">
            <div *ngIf="row.PaymentStatus != 'Complete'" >
            <button class="btn btn-success" (click)="pay(row.Uid)">Pay Now</button></div>
            <div *ngIf="row.PaymentStatus == 'Complete'"> <h5 class="text-success"> Paid</h5></div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRegistrationDetail(row.Uid)"></tr>

</table>


    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>

