<table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Uid Column -->
    <ng-container matColumnDef="Uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uid</th>
        <td mat-cell *matCellDef="let row">
            {{row.Uid}}
        </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
        <td mat-cell *matCellDef="let row">
            {{row.FirstName}}
        </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
        <td mat-cell *matCellDef="let row">
            {{row.LastName}}
        </td>
    </ng-container>

    <!-- Dob Column -->
    <ng-container matColumnDef="Dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dob</th>
        <td mat-cell *matCellDef="let row">
            {{row.Dob}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
</mat-paginator>