<app-login-page></app-login-page>
<div class="container mt-5 pt-5" >
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <h3 class="mb-5">Contact Info</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="font-weight: 700;">Address :</p>
                            </div>
                            <div class="col-md-8">
                                <p style="font-size:15px;"><b>Global Child Prodigy Awards (India)</b> <br> 1st Floor, #7 A VS Compound, Koramangala, 6 Bengaluru, Karnataka , India 560034
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="font-weight: 700;">Email :</p>
                            </div>
                            <div class="col-md-8">
                                <p style="color: #5095cf;font-size:15px;">Contact@gcpawards.com<br> Info@gcpawards.com
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <h3 class="section-padding mt-5 mb-3">Get Social </h3>
                        <ul class="social_link list-group list-group-horizontal">
                            <li class="list-group-item px-2 border-white mx-2"><a href=" https://www.facebook.com/GCPAwards/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-group-item px-2 border-white mx-2"><a href="https://twitter.com/gcpawards?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-group-item px-2 border-white mx-2"><a href="https://www.linkedin.com/company/global-child-prodigy-awards"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-group-item px-2 border-white mx-2"><a href="https://instagram.com/gcpawards?igshid=ijtgx9j2a0hy"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="list-group-item px-2 border-white mx-2"><a href="https://www.youtube.com/playlist?list=PLOVins3mQNIhj1QyO4sSv3dvuklZS5jus"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="text-center">
                            <h3 class="mb-5">Get In Touch With Us</h3>

                            <form class="content-padding ">
                                <div class="form-group mb-5 ">
                                    <input type="text" name="name" class="form-control bg-light" placeholder="Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" required>
                                </div>
                                <div class="form-group mb-5">
                                    <input type="email" name="email" class="form-control bg-light" placeholder="Email Id" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactEmail" required>
                                </div>
                                <div class="form-group mb-4">
                                    <textarea style="min-height: 100px;" name="message" class="form-control bg-light" placeholder="Your Message" [ngModelOptions]="{standalone: true}" [(ngModel)]="message" required ></textarea>
                                </div>
                                <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                                <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                                    <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                                </div>
                                
                                <div class="form-group pt-3">
                                    <button class="btn btn-primary" name="send" type="submit" (click)="submit()">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>+
        </div>
    </div>
    <div>
        <app-chat-support></app-chat-support>
    </div>
</div>