@media (min-width: 576px){

    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){

    .container {
        max-width: 1140px;
    }
}
h2 {
    color: #000093!important;
    font-weight: 700!important;
    font-size:250%;
    font-family: 'Amaranth', sans-serif!important;
}