<table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Ticket ID Column -->
    <ng-container matColumnDef="TicketId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Id</th>
        <td mat-cell *matCellDef="let row">
            {{row.TicketId}}
        </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row">
            {{row.State}}
        </td>
    </ng-container>

   <!-- Status Column -->
    <ng-container matColumnDef="SupportType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Support Type</th>
        <td mat-cell *matCellDef="let row">
            {{row.SupportType}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openSupportDetail(row.TicketId)"></tr>

</table>

<mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
</mat-paginator>
