
@media (min-width: 576px){

    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){

    .container {
        max-width: 1140px;
    }
}
.share {
    position: fixed;
    display: block;
  }
  .share, .share a {
    color: #999;
    fill: #999;
  }
  .share {
    text-align: center;
    margin-top: 20px;
  }
  .sidebarapplause {
    margin-top: -20px;
  }
  .pt-claps-applause {
    height: 60px;
    line-height: 60px;
    width: 60px;
    padding: 0;
    font-size: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block;
    position: relative;
    background: none;
    outline: 1px solid transparent;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    text-align: center;
    transition: border-color 0.3s ease-in;
  }
  .pt-claps-applause .claps-button {
    display: block;
    margin-top: 7px;
  }