<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="max-height: 65vh;">
            <a href=""><img src="../../../assets/blog/front-pagev2-scaled.jpg" class="d-block w-100"></a>
            <div class="carousel-caption d-flex align-items-center justify-content-center">
                <h3 class="carousel-excerpt d-block">
                <span class="title d-block">Global Child Prodigy Awards | World’s First-Ever Child Prodigy Initiative</span>
                <span class="fontlight d-block hidden-md-down">A child prodigy is someone who displays remarkable talent or understanding beyond their age bracket. Also, someone who showcases a high degree of excellence in a specific field by roughly the age of 15,...</span>
                <span class="btn btn-simple">Read More</span>
                </h3>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<app-popular></app-popular>
<app-parenting></app-parenting>
<!-- <app-prodigy-talks></app-prodigy-talks> -->
<app-prodigy-history></app-prodigy-history>
<!-- <app-video-blogs></app-video-blogs> -->
<app-top-categories></app-top-categories>
<app-podcast></app-podcast>
<app-gcpa-book></app-gcpa-book>
