
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                <div class="row">
                    <div class="col-md-10 col-10">
                        <h2>Log Work</h2>
                    </div>
                    <div class="col-md-2 col-2 text-right ">
                        <span class="btn">
                            <!-- <mat-icon data-dismiss="modal" fontSet="material-icons-outlined" class="align-middle "(click)="workDone()" title="Close"> -->
                                close
                            <!-- </mat-icon> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="container-fluid modal-body px-4" id="logWorkPage">

                <ng-container *ngIf="showClose">
                    <div class="row mx-5">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <!-- <mat-icon aria-hidden="false" id="SuccessIcon">check_circle_outline</mat-icon> -->
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row" style="font-size: medium;flex-wrap: wrap;">Logged work Successfully !</div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 pt-2 px-4">
                            <button class="btn btn-success" id="logWorkSubmit" type="button" data-dismiss="modal"  style="margin-left: 10px;">Close</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
