h1 {
    color: #ef3789!important;
    font-size: 44px!important;
    font-weight: 700!important;
    font-family: 'Amaranth', sans-serif!important;
}
.back {
    background-image: url("../../../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    color: #fff!important;
    background-color: #5095cf!important;
    background-image: none;
    border-color: #5095cf!important;
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#edit-btn{
    border: none;
    font-weight: 400;
    border-radius: 10%;
}

#deleteBtn{
    border: none;
    font-weight: 400;
    border-radius: 10%;
}
h6 {
    font-size: 18px!important;
    color: #555555!important;
    font-family: 'Amaranth', sans-serif!important;
}
.testheadp {
    font-weight: 500;
    font-size: 13px;
    color: #969393;
}

.testp {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.back{
    background-color: #f5f5f7!important;
}
.testimonial_img img {
    max-width: 100%;
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.col-md-4{
    background-color: #f5f5f7!important;
}
.testimonial_info_m{
    box-shadow: 0 8px 6px -6px black;
    min-height: 300px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
#SuccessIcon{
    color: green;
    font-size: 48px;
    text-align: left !important;
}