<div class="back mt-5 pt-5 pb-5">
    <h1 class="text-center mb-5">E-Commerce</h1>
    <ng-container *ngFor="let product of ecommerceService.products">

      <div class="row container mx-auto">
        <div class="card mb-3 col mx-auto" style="max-width: 750px;" (click)="goToProduct(product)" >
            <div class="row g-0">
              <div class="col-md-4 tr">
                <div>
                  <owl-carousel-o class="text-centre"  [options]="customOptions" (translated)="getPassedData($event)">
                    <ng-container *ngFor="let image of product.Images">
                      <ng-template carouselSlide class="px-2 ">
                      <div class="slide py-2 my-auto px-2 " >
                        <img [src]="image" alt="" style="max-height: 200px;">
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <div class="card-body">
                  <h2 class="card-title fw-bolder">{{product.ProductName}}</h2>
                  <p class="card-text">{{product.Disc}}</p>
                  <p class="card-text fw-bold pt-3"><small class="text-muted">Price:₹ </small> {{product.Price}}</p>
                </div>
              </div>
            </div>
        </div>
          
    </div>
  </ng-container>
</div>