<div class="item">
    <div class="col-md-12">
       <div class="row">
          <div class="col-md-3">
             <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/ar.png" alt="A.R Rahman">
             </div>
          </div>
          <div class="col-md-9 mt-2 ">
             <h6>A.R. Rahman</h6>
             <span class="testheadi">Lorem ipsum dolor sit amet consectetur.</span> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, inventore deleniti sunt ullam sint mollitia dolorum beatae corrupti eum, eos illum blanditiis ea nihil quam?
             </p>
         </div>
       </div>
    </div>

</div>