<div class="item">

    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/testimonial/KAILASHSATHYARTHI.png" alt="A.R Rahman">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>Dr.Kailash Satyarthi</h6>
            <span class="testheadi">Noble Peace Laureate </span>
            <p> “Recognise, Respect and Reward the interest & talent of your children. Never Impose expectations & ambitions, Instruct on everything and Impede their freedom to question. Spoke today at Global Child Prodigy Awards!”</p>
        </div>
    </div>

</div>