<div class="item">

    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/KIRANBEDI.png" alt="Kiran Bedi">
            </div>
        </div>
        <div class="col-md-9 mt-2 text-start">
            <h6>Dr. Kiran bedi</h6>
            <span class="testheadi">Hon’ble Lt’ Governor of Puducherry</span>
            <p> “Global Child Prodigy Awards is an amazing Initiative which we need to support and help so that it can reach Nation to Nation, State to State, District to District and Village to Village for recognizing the hidden talents”.
            </p>
        </div>
    </div>

</div>