    /* Importing fonts from Google */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    /* Reseting */
    
    
    h2 ,.gcpatext{
        color: #ef3789;
    } 
    
    .modal{
       display: block;
    }

    .btn-close{
        float: right;
    }

    /* .gcpabutton{
        background-color: #5095cf!important;
    } */

    .back{
        background-color: rgba(0, 0, 0, 0.274) 
           }

.card, .modal-content{
    border-radius: 20px !important;
    }
    .colouredButton{
        background-color: #000093;
    }

    .borderr{
        border: 1px solid #000093;
    }

#recaptcha{
    text-align: center;
    justify-content: center;
    margin-left: 15%;
}