<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="popupService.loginPopup">
    <div class="wrapper p-0">
        <div class=" modal-dialog " role="document ">

            <div class="modal-content " style="width: max-content;">

                <div class="card m-0">
                    <form action="#" class="d-flex flex-column">
                        <span class="d-grid justify-content-md-end pt-0"><button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()" ></button></span>
                        <div class="h3 text-center" *ngIf="login">Login </div>
                        <div class="h3 text-center" *ngIf="signup">Sign Up</div>

                        <div class="d-flex align-items-center input-field my-3 mb-4">
                            <span class="far fa-user p-2"></span>
                            <input type="text" placeholder="Email" required class="form-control">
                        </div>
                        <div class="d-flex align-items-center input-field mb-4">
                            <span class="fas fa-lock p-2"></span>
                            <input type="password" placeholder="Password" required class="form-control" id="pwd">
                        </div>
                        <div class="d-flex align-items-center input-field mb-4" *ngIf="signup">
                            <span class="fas fa-lock p-2"></span>
                            <input type="password" placeholder="Confirm Password" required class="form-control" id="pwd">
                        </div>

                        <div class="my-3 text-center" *ngIf="login">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                        <div class="my-3 text-center" *ngIf="signup">
                            <input type="submit" value="Sign Up" class="btn btn-primary">
                        </div>
                        <div class="mb-3" *ngIf="login">
                            <span class="text">Don't have an account? </span>
                            <a (click)="changeToSignup()">Sign Up</a>
                        </div>
                        <div class="mb-3" *ngIf="signup">
                            <span class="text">Already have an account? </span>
                            <a (click)="changeToLogin()">Login</a>
                        </div>
                    </form>
                    <div class="position-relative border-bottom my-3 line">
                        <span class="connect">or connect with</span>
                    </div>
                    <div class="text-center py-3 connections ">
                        <a target="_blank" class="px-2" (click)="loginWithGoogle()">
                            <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="">
                        </a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>