<div class="modal container-fluid back pt-5" tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="popupService.loginPopup" >
    <div class="wrapper p-0">
        <div class=" modal-dialog " role="document ">

			<div class="modal-content " >
				
				
				<div class="card m-0" >
					<div class="card-body bg-light" *ngIf="login">
						<div class="border p-4 rounded">
							<div class="text-center">
								<button type="button" class="btn-close" (click)="closePopup()"></button>
								<h2 class="pb-2">Sign in</h2>
									
										<p>Don't have an account yet? <a href="JavaScript:;" (click)="changeToSignup()">Sign up here</a>
										</p>
									</div>
									<div class="d-grid">
										<a class="btn my-4 shadow-sm"  (click)="loginWithGoogle()" style="background-color:white ;"> <span class="d-flex justify-content-center align-items-center">
											<img class="me-2" src="assets/images/icons/search.svg" width="16" alt="Image Description">
											<span>Sign in with Google</span>
											</span>
										</a>
									</div>
									<div class="login-separater text-center mb-4 "> <span class="bg-light">OR SIGN IN WITH EMAIL</span>
										<hr/>
									</div>
									<div class="form-body">
										<form class="row g-3">
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label" >Email Address</label>
												<input type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address"[(ngModel)]="emailLogin" name="elogin">
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label" >Enter Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" class="form-control border-end-0" id="inputChoosePassword"  placeholder="Enter Password" [(ngModel)]="passwordLogin" name="plogin"> 
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-check form-switch">
													<input class="form-check-input gcpabutton" type="checkbox" id="flexSwitchCheckChecked" checked>
													<label class="form-check-label " for="flexSwitchCheckChecked">Remember Me</label>
												</div>
											</div>
											<div class="col-md-6 text-end">	<a href="JavaScript:;" >Forgot Password ?</a>
											</div>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary gcpabutton"><i class="bx bxs-lock-open" (click)="signIn()"></i>Sign in</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>


							<!-- sign up popup -->
							<div class="card-body bg-light" *ngIf="signup">
								<div class="border p-4 rounded">
									<div class="text-center">
										<button type="button" class="btn-close" (click)="closePopup()"></button>
										<h2 class="pb-2">Sign up</h2>
											
												<p>Already have an account? <a href="JavaScript:;" (click)="changeToLogin()">Sign in here</a>
												</p>
											</div>
											<div class="d-grid">
												<a class="btn my-4 shadow-sm" href="#" (click)="loginWithGoogle()" style="background-color:white ;"> <span class="d-flex justify-content-center align-items-center">
													<img class="me-2" src="assets/images/icons/search.svg" width="16" alt="Image Description">
													<span>Sign up with Google</span>
													</span>
												</a>
											</div>
											<div class="login-separater text-center mb-4 "> <span class="bg-light">OR SIGN UP WITH EMAIL</span>
												<hr/>
											</div>
											<div class="form-body">
												<form class="row g-3">
													<div class="col-12">
														<label for="inputEmailAddress" class="form-label">Email Address</label>
														<input type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address" [(ngModel)]="emailSignup" name="emailsignup">
													</div>
													<div class="col-12">
														<label for="inputChoosePassword" class="form-label">Enter Password</label>
														<div class="input-group" id="show_hide_password">
															<input type="password" class="form-control border-end-0" id="inputChoosePassword"  placeholder="Enter Password" [(ngModel)]="passwordSignup" name="psignup" > 
														</div>
													</div>
													<div class="col-12">
														<label for="inputConfirmPassword" class="form-label">Confirm Password</label>
														<div class="input-group" id="show_hide_password">
															<input type="password" class="form-control border-end-0" id="inputConfirmPassword"  placeholder="Enter Password" [(ngModel)]="confirm" name="pcon"> 
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-check form-switch">
															<input class="form-check-input gcpabutton" type="checkbox" id="flexSwitchCheckChecked" checked>
															<label class="form-check-label " for="flexSwitchCheckChecked">Remember Me</label>
														</div>
													</div>
													
													<div class="col-12">
														<div class="d-grid">
															<button type="submit" class="btn btn-primary gcpabutton"(click)="signUp()"><i class="bx bxs-lock-open" ></i>Sign up</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>


                </div>
            </div>
        </div>
    </div>
</div>