
<div class="container pt-3">

    <div class="section-title listpostsbycats">
        <h3>
        <span><b>Prodigy History</b> &nbsp;</span>
        <a class="d-block pull-right morefromcategory" routerLink="prodigy-history">
        More &nbsp; <i class="fa fa-angle-right"></i> 
        </a>
        <div class="clearfix"></div> 
        </h3>
    </div>

   <div class="row pt-4">
    <div class="col-lg-4 col-md-4 col-sm-4" [id]="wpService.historyPosts[0]">
    
        <div class="card post highlighted"><a class="thumbimage" [routerLink]="['/blog', wpService.historyPosts[0].slug]"[ngStyle]="{'background-image': 'url(' + wpService.historyPosts[0].yoast_head_json.og_image[0].url + ')'}"></a>
        <div class="card-block">
        <h2 class="card-title text"><a [routerLink]="['/blog', wpService.historyPosts[0].slug]">{{wpService.historyPosts[0].yoast_head_json.title}}</a></h2>
        <span class="card-text d-block text" [innerHtml]="wpService.historyPosts[0].excerpt.rendered"></span>
      
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" [id]="wpService.historyPosts[1]">
    
        <div class="card post highlighted"><a class="thumbimage" [routerLink]="['/blog', wpService.historyPosts[1].slug]"[ngStyle]="{'background-image': 'url(' + wpService.historyPosts[1].yoast_head_json.og_image[0].url + ')'}"></a>
        <div class="card-block">
        <h2 class="card-title text"><a [routerLink]="['/blog', wpService.historyPosts[1].slug]">{{wpService.historyPosts[1].yoast_head_json.title}}</a></h2>
        <span class="card-text d-block text" [innerHtml]="wpService.historyPosts[1].excerpt.rendered"></span>
      
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" [id]="wpService.historyPosts[2]">
    
        <div class="card post highlighted"><a class="thumbimage" [routerLink]="['/blog', wpService.historyPosts[2].slug]"[ngStyle]="{'background-image': 'url(' + wpService.historyPosts[2].yoast_head_json.og_image[0].url + ')'}"></a>
        <div class="card-block">
        <h2 class="card-title text"><a [routerLink]="['/blog', wpService.historyPosts[2].slug]">{{wpService.historyPosts[2].yoast_head_json.title}}</a></h2>
        <span class="card-text d-block text" [innerHtml]="wpService.historyPosts[2].excerpt.rendered"></span>
      
        </div>
        </div>
    </div>
   </div>
</div>
