/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

h1 {
    color: #ef3789!important;
    font-size: 44px!important;
    font-weight: 700!important;
    font-family: 'Amaranth', sans-serif!important;
}

.mainp {
    color: #222222;
    text-decoration: underline;
    margin-top: 6px;
    font-weight: 600!important;
    font-size: 18px;
    font-weight: 400;
}
.wp-block-image img {
    height: auto;
    max-width: 100% !important;
    vertical-align: bottom;
  }


