<div class="container mt-5 pt-5" style="line-height: 2;">

    <div class="col-md-12">
        <h1 class="mb-5 text-center">Privacy Policy</h1>
        <div class="row content-padding">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-justify">
               <p>Global Child Prodigy Awards is the world’s first child prodigy initiative that recognizes Child Prodigies around the globe each year from various verticals.
            </p>
            <p>At Global Child Prodigy Awards, accessible through <a href="https://www.gcpawards.com/">https://www.gcpawards.com/</a> , one of our main priorities is the privacy of our users. Thus, we aim at adhering to all applicable laws in order to protect users/applicants’ privacy and provide ‘you’ with best data security.
            </p>
            <p>The privacy policy document contains types of information that is collected by GCPA and how we store and use it.</p>
            <p>
                Our respect towards your privacy rights and your personal information is of paramount importance. We have policies and procedures in order to ensure that all your personal information and any such related data with your due consent is handled safely and securely in accordance with the laws. 
            </p> 
            <p>We hereby ensure you that all the personal information that has been shared by you is treated confidentially by GCPA in accordance with the data protection regulation.
            </p>
            <p>The primary purpose of privacy policy is to pass you the information with respect to –
                <ul>
                    <li>What sort of personal information is collected, stored and used.</li>
                    <li>How the information is collected and used.</li>
                    <li>Procedures followed in order to use or store the personal information. </li>
                    <li>How can you opt out? </li>    
                    <li>Other related information. </li>

                    <i><b>For further queries/information about our privacy policy, feel free to contact us.</b></i> <br>
                    <br>

                    <b>Note:</b> GCPA holds the sole authority and right to amend/review &/ revise the privacy policy and it shall be posted on our website.
                </ul>
            <br>
            
            <h6> <u> CONSENT- </u></h6>

            <p>By browsing through our website, you hereby give your consent to our privacy policy and agree to its terms</p>

            <b><i>Information we collect-   </i></b>
            <br>
            <ul>
                <li>The personal information that is asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. </li>

                <li>    The information that we collect are but not limited to applicant/ user’s name, parents’ details, Email-Id, school name, guardian name, Date of birth, photograph, Profile/resume/cv, links, Photos and videos & others for as a part of application process depending on requirements, date of birth proof, school/academy id card, address, contact number, gender and age for future reference. </li>
                    
                <li>    When a user/applicant uses our website(s), we collect information such as browser and device information, IP address, location, the website you navigated from, what you did and did not click on our site/app, which pages you visited, and when you stopped using it. </li>
                    
                <li>    For smooth functioning and better performance, we do use cookies and if you agree to our cookie policy, The personal data of the user/ applicant is stored in the database and used to enhance your user experience with the Global Child Prodigy Awards products and services. </li>
                    
                <li>    If you are present at our event as a visitor/guest/ applicant, as we take video and pictures in our events, you may be filmed and GCPA reserves the rights and authority to use the same for promotional, safety and/ legal purposes. </li>
                <li>    We at GCPA don’t collect any information through any third party or through in person visits, in case any such information is shared by the user/ applicant to a third party GCPA shall not bear any liability. </li>
                
            </ul>

            <br>

            <b><i>How and why do we use collect and use your personal information-</i></b>

            <ul>
                <li>We collect the information/data via following methods at www.gcpawards.com</li>

                <ol>
                    <li>User registration while creating account
                    </li>
                    <li>Application Form </li>
                    <li> Subscription form of newsletter 
                    </li>
                    <li> Contact us form 
                    </li>
                    <li>Nomination form 
                    </li>
                </ol>

                <li>The information provided or shared by the participant may be used by the GCPA for internal purposes and/ the company holds the right and authority to pass on the same for future promotion or for the feature in the Global Child Prodigy Annual Book/blogs/news/social media/YouTube/posters etc. Providing/sharing such information has been solely done with free consent without any coercion by the applicant. </li>

                <li>
                    We also provide an option to register using Google or Facebook. If you select this option, you allow us to access your profile information including the list of your friends. Please note that if you register to the Platform through Google/ Facebook, You shall be subject to the Terms & Conditions and Privacy Policy of Google/Facebook.
                </li>

                <li>
                    Any fees or information will exclusively be collected through the website/ official e-mail address/ official partners only. No in-person contact will be made from the side of the company. In case of any such contact, the company shall not bear any liability.
                </li>

                <li>
                    We use your personal information in order to administer the agreement with you and proceed with the required procedure and to comply with legal obligations.
                </li>

                <li>
                    We will store your username, country and specialty on an unencrypted server. Your password is cryptographically hashed and your email address is encrypted. These information elements are referred to collectively as your “Personal User Information.” We collect and hold this information for the purpose of administering your use of the Application.
                </li>

                <li>
                    You are solely responsible for

                    <ol>
                        <li>Maintaining the strict confidentiality of your Personal User Information.                        </li>
                        <li> Not allowing another person to use your Personal User Information to access the Services.</li>
                        <li>Any and all damages or losses that may be incurred or suffered as a result of any activities that occur in your Account.
                        </li>
                        <li>Ensuring that the information submitted by you complies with our terms and conditions.
                        </li>
                        <li>Ensuring that the information provided by you is correct and updated from time to time.</li>
                    </ol>
                </li>

                <li>
                    Kindly take a note that we don’t enter into any kind of agreement/ contract with the minor directly, the required information should be solely provided by the parents/legal guardian.
                    Global Child Prodigy Awards might contact you to ensure about the details recorded, marketing purposes, to receive feedback and provide info about the activities, quizzes and competitions held and to help you walk through the event. 
                    The Privacy policy should be thoroughly read and understood by the parents/ legal guardians of the minor.

                </li>

                <li>Global Child Prodigy will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies, future events, products or any kind of services.</li>

                <li>
                    The information collected by us through our Website is used by Us for various purposes to enable us to serve you better: <br>
                    a) To find third party service providers <br>
                    b) Internal record keeping <br>
                    c) We may use the information to improve our products and services. <br>
                    d) We may periodically send promotional emails or messages on the Website about new products, special offers or other information which we think you may find interesting using the email address which you have provided.  <br>
                    e) From time to time, we may use the information to customize the Website according to your interests. <br>

                </li>

                Once an applicant shares the basic information with the company, in case required the GCPA team has all the authority and rights to use the pictures/ information provided in the applicant’s social media accounts for official usage and/ promotional purposes not amounting to any infringement of personal or statutory rights.

            </ul>

            <h6><b><i>General Data Protection Regulation (GDPR):            </i></b></h6>

            <ul>
                <li>We comply with the legal requirements of the applicable laws of UK, in particular, Data Protection Act,2018 (DPA), and other data protection provisions that may be applicable, in particular the General Data Protection Regulation of the European Union (GDPR)</li>

                <li>GCPA shall deal with any Data/information, personal information, if any, that it receives from the applicant and/otherwise collects, holds, uses and processes for internal purposes but if required
                    <br> GCPA may also disclose Data/information including sensitive personal information, if any, to governmental agencies and regulators (e.g., tax authorities), social organizations (e.g., the social security administration), human resources benefits providers (e.g., health insurers), external advisors (e.g., lawyers, accountants, and auditors), courts and other tribunals, and government authorities, to the extent required or permitted by applicable legal obligations upon prior written approval from GCPA. 
                    </li>

                <li>The level of data protection using technical, managerial, operational and
                    physical security control measures by GCPA shall be such as to be in compliance with applicable Indian laws including but not limited to Information Technology Act, 2000 and Privacy Rules. 
                    </li>
                    
                <li>Identity proof/ other related documents if required in the due process shall be provided by the user/ applicant to the GCPA.</li>    

                <li>Participants give their consent for the pictures that can be uploaded by GCPA on social platforms for promotional purposes and / during the time of publication of the Global child prodigy book/ event and it shall not in any way infringe the statutory rights, common law rights, intellectual property rights including copyrights in literary, dramatic, musical or motion picture rights, patent rights or the trademark or trade names of any person, firm, corporation, association or entity whatsoever. Neither the Pictures nor any
                    part thereof violate the statutory rights of, or the right of privacy, or constitute a libel or slander against any person, firm, corporation, association or entity whatsoever, or violate any other rights not herein specifically enumerated. 
                    </li>
            </ul>

            <b><u><i>YOUR PREFERENCES AND RIGHTS</i></u></b> <br>
            <b><i>Your preferences-</i></b> 

            After you have agreed with our Privacy Policy and/or Terms and Conditions, you can change your preferences as follows:

            <br>

            If you no longer wish to receive information about our marketing purposes, to receive feedback and provide info about the activities, quizzes and competitions you can adjust this setting by using the unsubscribe buttons at the bottom of our newsletter emails. You can also contact us for any further help/queries. 

            <br>

            <b><i>Your rights- </i></b>

            <ul>
                <li>The right to access, update or to delete the information we have of you.</li>
                <li>The right of rectification.</li>
                <li>The right to object.</li>
                <li>The right of restriction.</li>
                <li>The right to data portability.</li>
                <li>The right to revoke your consent.</li>
                <li> Request for a copy of all your personal information that we collect/store.</li>
            </ul>

            
            <h6><b><u>LOG FILES-</u></b></h6>

            <br>
            GCP Awards follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this as part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.

            <br>

            <h6><b><u> CHOICE/OPT-OUT            </u></b></h6>

            We provide all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from Us on behalf of our partners, and from Us in general, after providing Us with personal information. If You want to remove your contact information from all lists and newsletters, please write to us. All other terms and conditions as applicable under the Terms and Conditions of Use <a href="www.gcpawards.com">www.gcpawards.com</a>  will be applicable to You and will be read along with this Privacy Policy. In case user wants to remove all his data from our servers, we will be able to cater the request after proper verification from the user. 

            <br>

            <h6><b><u>COOKIES AND WEB BEACONS</u></b></h6>
            <br>
            Like any other website, GCP Awards uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.

            <br>
            For more general information on cookies, please read "What Are Cookies".
            <br>

            <h6><b><u>ADVERTISING PARTNERS            </u></b></h6> <br>

            <h6><u>SHARING INFORMATION WITH THIRD PARTIES             </u></h6>

            <ol>
                <li>
                    GCPA does not sell, rent or lease its customer lists to third parties. GCP may share data with trusted partners to help perform statistical analysis, send you email or SMS or Whatsapp or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to GCP, and they are required to maintain the confidentiality of your information. GCPA may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on GCPA or the site; (b) protect and defend the rights or property of GCPA and/or (c) act under exigent circumstances to protect the personal safety of users of GCPA, or the public. 
                </li>
                <li>
                    If We (or our assets) intend to merge with or be acquired by another business entity, or if We (or our assets) intend to re-organize, amalgamate, or otherwise restructure our business, We and/or our affiliates will share or sell some or all of the collected information with such another business entity. Should such a transaction take place, the acquiring company (or the merged company) will be bound by this privacy policy with respect to all collected information.
                </li>
            </ol>

            However, in order to help advertisers reach the kind of audience they want to target, we may provide them with aggregate and/or anonymized information about you. To better serve our advertisers, we may use the data we've gathered from you to show their ads to a specific demographic.

            <br>
            Third-party ad servers or ad networks use technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Global Talent Awards, which are sent directly to users’ browsers. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
            <br>

            Note that GCPA has no access to or control over these cookies that are used by third-party advertisers.
            <br><br>

            <h6><b><i><u>HOW CAN YOU CONTACT US?</u></i></b></h6>
            If you have any queries/ questions about our privacy policy or complaints regarding the way we treat your personal information or data, you can reach us at <a href="mailto:contact@gcpawards.com">contact@gcpawards.com</a>  / <a href="tel:++91-9710819518">+91-9710819518</a>. 
            <br>
            We will process your query as soon as possible.
        </div>

        <div class="col-md-2"></div>
    
</div>
</div>
</div>