<div class="container mt-5 pt-5" style="line-height: 2;">

    <div class="col-md-12 text-center">
        <h1 class="mb-5">Privacy Policy</h1>
        <div class="row content-padding">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <p>Founded in 2018, the Global Child Prodigy Awards owns a mission to have the ultimate global authority on global child achievement.
            </p>
            <p>The Global Child Prodigy Awards recognizes that your privacy is important and we take it very seriously. Thus, we endeavor to comply with all applicable laws on privacy protection and personal data security. This privacy notice discloses the privacy practices followed by us. The Global Child Prodigy Awards explains to you all the privacy and additional policies that provides a safe, secure and transparent environment to your personal data collected in all modes from us.
            </p>
            <p>Personal details as in your name, parents' details, address, contact number, gender and age will be collected for further reference. These details might be recieved through personal contact, over the phone, online registering or cookies. All your basic information as in mentioned above are to be surely given for the same reason you have reached us. The information provided by you will be highly protected and shared only among the Global Child Prodigy Awards team for obvious purposes.</p>
            <p>
                The personal data you have shared with us is stored in the database and used to enhance your user experience with the Global Child Prodigy Awards products and services. The data can always be viewed in your login and you can have access to it to make any necessary changes.

            </p> 
            <p>Take notice that children under the age of 13 years are advised to involve their parents/guardian to discuss the policies. Global Child Prodigy Awards might contact you to ensure about the details recorded, marketing purposes, to receive feedback and provide info about the activities, quizzes and competitions held and to help you walk through the event. You may withdraw the details provided to us at any time; email to us.

            </p>
            <p>A child can claim for a record attempt to us by creating a personal account. Email verification will be processed. Sign up to receive mails and info about all the Global Child Prodigy Awards products and services.

            </p>
            <p>We take the responsibility of data security and store the details collected in a secure environment. In case you feel that this privacy policy is not abided by, you can immediately contact us on the details provided on our website.

            </p>
            <p>We are highly concerned regarding the privacy of our users and thus do not share any info with other third party initiatives who do not belong to the Global Child Prodigy team. Therefore we do not hold responsibility for any contacts, advertisements, websites etc from the third party who are not our sponsors. 
            </p>
            <p>By using the Global Child Prodigy Awards products and services, you are agreeing to this privacy policy with your own interest. By notifying you, from time to time, the privacy policy may be revised or changed</p>
        </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>