<div class="container mt-5 pt-5" style="line-height: 2;">

    <div class="col-md-12 text-center">
        <h1 class="mb-5">Privacy Policy</h1>
        <div class="row content-padding">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
                    <div class="card py-3 my-3">
                       <div id="headingOne">
                          <h2 >
                             Who is a Child Prodigy?                          
                          </h2>
                       </div>
                       <div class="px-3"> 
                             <p class="faqp">Child prodigy is someone who posses talent or understanding far beyond their age bracket. The age of child prodigy is upto 15 years.</p>
                       </div>
                    </div>
                    <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            What is Global Child Prodigy Awards?                         
                           </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">Each child owns a special inborn talent and can make wonders when lead right. The Global Child Prodigy Awards aims to put forward those extraordinary talented kids/children who have the capacity to be a change maker.
                                GCP Awards is to recognise 100 child prodigies across globe in different categories & provide international recognition by honouring them with 100 Global Child Prodigy Awards and featuring them in 100 Global Child Prodigy Award Book Internationally.
                             </p>
                            </div>
                     </div>
                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            How one can apply for Global Child Prodigy Awards? What is the Age Criteria for participating in GCP Awards 2022?                           
                           </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">You can apply through the official website. www.gcpawards.com or sending us a query via email.
                                The age criteria for participating in Global Child Prodigy Awards is 1 year to 15 year.
                             </p>
                            </div>
                     </div>

                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            How many children will be awarded as Global Child Prodigy and what about the children  who are not awarded?</h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">100 children will be awarded as Global Child Prodigy. We believe everyone who has participated is out of the box hence a Participation certificate will be given to all the registered Participants.</p>
                         
                            </div>
                     </div>
                    
                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            How the Global Child Prodigy Award will be helpful/supportive in a longer run of child prodigies ?                           
                          </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">The 100 Child Prodigies featured in the Global Child Prodigy Award Book to be featured and will be interviewed by International media, magazines, etc. Global Child Prodigy Award Book will be publicized across schools, colleges and corporate organizations across the world. The awardees will also have the honour to meet eminent leaders across globe and be a part of significant International events.</p>
                            </div>
                     </div>
                    
                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            In how many categories can a child participate out of the various alternatives provided?                           
                          </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">A child can select only two category in which he/she can participate in.</p>
                        </div>
                     </div>
                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            Is there any limit for registration from a single school?                           
                          </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">There is no limit for registration. Every registration between the age limit 1-15 years will be accepted. However, for school wise registration Schools may contact us directly via Email or Phone No.</p>
                        </div>
                     </div>
                     <div class="card py-3 my-3">
                        <div id="headingOne">
                           <h2 >
                            How can we find out whether registration has been done successfully or not?                           
                          </h2>
                        </div>
                        <div class="px-3"> 
                            <p class="faqp">After your registration is completed and submitted successfully, you will receive a confirmation email on your registered email address.</p>
                        </div>
                     </div>
                   
                 </div>
            </div>
    <div class="col-md-2"></div>
</div>
</div>
</div>
