<div class="container">
    <div class="col-xl-12 text-center">
        <h1 class="mt-5">Sponsers And Partners</h1>
        <p class="mainp">About Our Sponsors And Partners</p>
    </div>
    <div class="row text-center pt-5">
        <div class="col-md-2 text-center">
            <img class="content-image" src="../../../../assets/kiitsponsor1.png" alt="kiitsponsor1">
            <p class="sponserp">Title Sponsor</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="content-image" src="../../../../assets/hindustansponsor3.png" alt="hindustansponser">
            <p class="sponserp">Powered By </p>
        </div>
        <div class="col-md-2 text-center">
            <img class="content-image" src="../../../../assets/glowwormssponsor2.png" style=" margin-top: -20px;padding-bottom: 20px;" alt="hindustansponser">
            <p class="sponserp">Powered By </p>
        </div>
        <div class="col-md-2 text-center">
            <img class="content-image" src="../../../../assets/dotssponsor4.png" alt="dotssponsor4">
            <p class="sponserp">Co-sponsored by</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="ig" src="../../../../assets/igempiressponsor5.png" alt="igempiressponsor5" height="100">
            <p class="sponserp" style="margin-top: 28px;">Co-sponsored by</p>
        </div>
        <div class="col-md-2 text-center">
            <img class="content-image" src="../../../../assets/riversidesponsor6.png" alt="riversidesponsor6">
            <p class="sponserp">Associate Sponsor</p>
        </div>
    </div>
    <div class="row text-center pt-2">
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/webfosyspartner2.png " alt="webfosyspartner2">
            <p class="sponserp">Digital partner</p>
        </div>
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/technologypatner5.png " alt="technologypartner5">
            <p class="sponserp">Technology partner</p>
        </div>
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/socialmediapartner1.png" alt="socialmediapartner1">
            <p class="sponserp">Social Media partner</p>
        </div>
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/photographypartner4.png " alt="photographypartner4">
            <p class="sponserp"> Photography partner</p>
        </div>
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/haso-250x250.png" alt="productionpartner7">
            <p class="sponserp"> IT partner</p>
        </div>
        <div class="col-sm-2">
            <img class="content-image" src="../../../../assets/giftingpartner66.png " alt="giftingpartner66">
            <p class="sponserp">Gifting partner</p>
        </div>
    </div>
</div>