<div class="container">
    <div class="col-xl-12 text-center">
       <h1 class="mt-5">Sponsers And Partners</h1>
       <p class="mainp">About Our Sponsors And Partners</p>
    </div>
    <div class="row text-center  px-5 ">
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png" alt="kiitsponsor1">
           <p class="sponserp">Title Sponsor</p>
        </div>
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png" alt="hindustansponser">
           <p class="sponserp">Powered By </p>
        </div>
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png"  alt="hindustansponser">
           <p class="sponserp">Powered By </p>
        </div>
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png" alt="dotssponsor4">
           <p class="sponserp">Co-sponsored by</p>
        </div>
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png"  alt="igempiressponsor5">
           <p class="sponserp" >Co-sponsored by</p>
        </div>
        <div class="col-xl-2 text-center px-0">
           <img class="content-image" style="width: 140px;" src="../../../../assets/dotssponsor4.png" alt="riversidesponsor6">
           <p class="sponserp">Associate Sponsor</p>
        </div>
     </div>
