<div class="item">

    <div class="row">
        <div class="col-md-3">
            <div class="testimonial_imgs mt-2 ms-4">
                <img src="../../../../../assets/ar.png" alt="A.R Rahman">
            </div>
        </div>
        <div class="col-md-9 mt-2 ">
            <h6>A.R. Rahman</h6>
            <span class="testheadi">Oscar Winning Music Director</span>
            <p> “Time for every kid to lead…Global Child prodigy award book to be launched soon”
            </p>
        </div>
    </div>


</div>